[2014-10-18 09:13] ubergesundheit opened #3 "could not access private key file "/etc/ssl/private/ssl-cert-snakeoil.key": Permission denied"
If I just run `sudo docker run -p 65432:5432 -t kartoza/postgis:latest`, the whole container fails with the the messages below.

But if I build the image with `sudo docker build -t kartoza/postgis git://github.com/kartoza/docker-postgis` everything is alright.

Could you please look into this?

Cheers,
ubergesundheit

[code]

[2014-10-29 11:10] jancelin opened #4 "I can't connect to my postgis-docker (server) with my desktop qgis."
Hi,
I have modified the file pg_hba.conf thanks to persistent data, but I can not reload postgres for it to take my new settings.
have you any idea?
edit: I start a new container?

[2014-10-29 14:36] #4 closed, assigned to nobody

[2014-10-30 12:25] jancelin opened #5 "performance on queries."
I am surprised by the queries performances  between a postgresql / postgis database installed on the host or on a container.
Query ex: rotation crop in 42000ha \* 5 years)
host:
Total execution time of the application: 10153 ms.
129165 rows retrieved.
container:
Total execution time of the application: 117034 ms.
129165 rows retrieved.

Why such a significant drop in speed perform queries?

[2014-11-10 21:51] #5 closed, assigned to nobody

[2014-12-04 19:12] anentropic opened #6 "Struggling to use data volume"
"You need to ensure the postgres_data directory has sufficient permissions for the docker process to read / write it."

[code]

The `./postgres_data/9.3` dir gets created but it fails as above

How do I do this?

[2014-12-05 15:59] anentropic opened #8 "Default user is not as per readme"
"If these are not specified then the postgresql user is set to 'docker' with password 'docker'."

this is failing somehow... if I look in the `/tmp/PGPASSWORD.txt` file that was created by the startup script I see:

[code]

hmm... and in the logs when running my image:

[code]

which leaves me where I am, i.e. intended `docker` user was not created and `postgres` user has an unknown password

[2014-12-06 14:45] #3 closed, assigned to nobody

[2014-12-07 14:03] furkantektas opened #13 "run-postgis-docker.sh: Permission denied error"
Hi,
I tried using run-postgis-docker.sh and failed. I think it's because there is no HOST_DATA_DIR in script (removed [here](https://github.com/kartoza/docker-postgis/commit/c30dee363f389998e533821a314a89a35c54b74c#diff-39a6f2d67a30d6e08b860cc3fed9a812L22) )

Here is the output of setup script:

[code]

Here are my logs:

[code]

[2014-12-07 15:23] #13 closed, assigned to nobody

[2014-12-08 14:52] #6 closed, assigned to nobody

[2015-01-06 21:16] volkanunsal opened #14 "Cannot create a database for custom user"
This is perhaps related to issue #8. If you specify a custom USERNAME with environmental variables, the database creation fails:

[code]

[2015-01-06 21:35] volkanunsal opened #15 "Cannot connect to the container"
[code]

That should work, but doesn't.

[code]

I noticed that the database [only accept connections from Docker subnet](https://github.com/kartoza/docker-postgis/blob/develop/setup.sh#L6-L7). What does this mean for boot2docker users?

[2015-01-07 01:13] volkanunsal opened #17 "Mounting volumes"
While mounting a volume from my file system, I encountered this permission issue:

[code]

My fig file looks like this

[code]

EDIT: I noticed this is addressed in the documentation, but I'm not sure what "sufficient permissions" means. Would be great to know.

[2015-01-07 17:09] volkanunsal commented on #17
Figured it out. I had to change the location of the data directory and update the postgresql.conf file as well.

[code]

And

[code]

[2015-01-07 17:22] volkanunsal commented on #17
Sorry, I spoke too soon....

[2015-01-08 07:46] #14 closed

[2015-01-09 21:02] volkanunsal commented on #17
Related to this issue:

https://github.com/boot2docker/boot2docker/issues/581

[2015-02-04 10:44] miloskroulik opened #20 "How to understand container restart?"
I tried to use this container and imported my DB dump into it. However, I encountered strange issues on container restart (copied from stderr):
[code]
Also, it seems that container starts PostgreSQL at least twice, based on stdlog & stderr. In stdlog, I can see 2 listings of tables, the first one mentions default DB (`gis`), the second one my custom DB created in the container.

I try to support m

[2015-02-04 13:42] timlinux commented on #20
Hi

You need to use a volume if you want the database to be persistent. Alternatively consider using ``--restart=always`` when you run your container. Postgres is indeed started twice - once as a foreground process t initialise the cluster if it does not exist, and again to start the db in daemon mode.

You may also want to consider using fig to manage your configuration easily. Here is an example

[2015-02-04 13:42] #20 closed

[2015-02-04 15:57] RLovelett commented on #15
@volkanunsal did you find a work around for this?

[2015-02-05 08:22] timlinux commented on #15
@RLovelett The work around would be to disable that rule in pg_hba or perhaps I could set a flag in env vars when running the container that disables it via a script.

Under linux we don't get this issue because the host gets assigned an ip on the docker network via multi-homing:

[code]

[2015-02-05 09:12] miloskroulik commented on #20
Thanks, but I've done exactly that (just with Crane insted of Fig). I will try to reproduce issue once more and provide you with better report.

[2015-02-05 11:17] timlinux commented on #20
Hi @miloskroulik thanks - feel free to reopen this ticket if you have more details.

[2015-04-28 03:46] fullofcaffeine commented on #15
Would wrapping it in a VBOX VM (vagrant) and mapping the ports to the host be a workaround?

[2015-04-28 03:48] fullofcaffeine commented on #15
+1

I'm using this for now https://github.com/rogelio2k/vagrant-postgis2, but I'd really prefer to use Docker directly (also because I'm working a lot with Docker lately), so a solution/workaround to this issue would be great. I'm also on OSX (Yosemite) and have the same issue as the OP.

[2015-04-28 03:59] volkanunsal commented on #15
I think I solved this by changing the pg_hba.conf to accept connections from anywhere.

[2015-04-28 03:59] #15 closed

[2015-04-28 04:01] fullofcaffeine commented on #15
@volkanunsal Thanks for the tip!

[2015-06-12 14:37] #17 closed

[2015-06-12 19:46] mastrogeppetto opened #22 "Using osm2pgsql to upload in postgis fails"
I have a pair of geoserver/postgis working, but when I try to add a OSM map:

[code]
I suspect that osm2pgsql (v 0.82.0) and the postgis in the server do not match. Approximately the same happens imposm. Could you please help me?

Thank you

[2015-06-13 04:58] timlinux commented on #22
Hi

If you use anything other than the default database (```gis```) you will need to manually install the postgis extensions. Or you could simply rename the gis database to toscana and it should work.

To install the extensions manually you could do somehting like:

[code]

Then you will get a bash prompt were you could install everything in a session like this:

[code]

Note that you can also sim

[2015-06-13 04:58] #22 closed

[2015-06-13 07:25] timlinux commented on #17
For some history I since got an OSX laptop and I can replicate. As far as I know there is no easy fix since the boot2docker layer mounts your dirs via samba so permissions cant be propagated into linux nicely.

[2015-06-15 10:16] mastrogeppetto commented on #22
Thank you for the fast response: in fact I used your first suggestion, and I was happy with it. I used imposm, since osm2pgsql persisted in giving an error.

Anyway, I tried your two recipes, but they were ineffective in my basic configuration:
[code]
and
[code]
ended up with an
[code]

[2015-06-17 06:56] timlinux commented on #22
You need to install it in *your database* not ``template_postgis`` (which already has postgis installed)...sorry I didnt make this clearer. So:

[code]

[2015-07-16 16:41] Gustry opened #23 "Can't run docker build with ubuntu 14.04"
I'm trying to run docker build, but it failed each time :
``The following packages have unmet dependencies:
 postgresql-9.3-postgis-2.1 : Depends: libgdal1h (>= 1.9.0) but it is not going to be installed``

I tried many hacks, but without success keeping ubuntu 14.04. It works using ubuntu:latest, can we switch ?

CC : @timlinux

[2015-07-16 21:14] timlinux commented on #23
Yes please switch and make a PR. Thanks

[2015-08-07 20:07] hvisage opened #25 "readme.md spelling mistake"
close to the bottom of the readme: s/sufficinet/sufficient/

[2015-08-08 12:11] #25 closed

[2015-08-08 18:16] timlinux commented on #8
This should be fixed with your PR applied from #14 - thanks. Note that the hub image is still not building - there seems to be some issue on hub itself since the builds are working here locally. I am going to close out this issue for now. Thanks!

[2015-08-08 18:16] #8 closed

[2015-08-08 23:32] timlinux commented on #23
Ok I eventually fixed this by swtching to a debian stable base image. I also enabled hstore and topology extensions by default as I want to give a 'works out he box' experience.

[2015-08-08 23:32] #23 closed

[2015-12-03 14:56] startakovsky opened #31 "directory sharing"
Hello, Thank you for maintaining this postgres-docker repository.

I am sharing directories as recommended by your Readme...  but when I start the container I get these errors below. I used to get other errors, but then I put this in: `sudo chmod -R 0777 .`

I am using a mac. How do you recommend I go about setting appropriate pemissions.

Thank you...

[code]

[2015-12-03 16:21] timlinux commented on #31
For OSX I recommend not using a volume for your database cluster because the volume shares are done using CIFS/SAMBA and the unix file permissions do not map to it. See also https://github.com/kartoza/docker-postgis/issues/17

[2015-12-03 20:25] startakovsky commented on #31
Anytips on persisting my database storage? Perhaps some way to leverage another docker container?

[2015-12-04 01:55] timlinux commented on #31
You can use a docker storage container (still vulnerable to overzealous stopped container removal though) or what I do is simply dump and restore. I use a little makefile to do:

[code]

and

[code]

Which for working on my OSX machine as a dev environment is fine. For production we use our rotating backups tools available here: https://github.com/kartoza/docker-sftp-backup - you could tweak that

[2015-12-04 22:14] erikschlegel opened #32 "Unable to connect to PostGIS container outside of localhost"
Thanks for putting this together... I'm using GeoServer with my OSM data stored in PostGIS. I'd like to connect to my PostGIS server outside of my localhost. This involves changing the pg_hba.conf file to allow all connections, within the running docker container. How am I able to edit this file in a running container? I tried changing the pg_hba file by running the following command, which result

[2015-12-28 10:44] Gustry commented on #32
You should use the command ``docker inspect`` and get the IP address of the container.

[2016-01-24 03:49] bhtek opened #34 "PostgreSQL 9.5?"
Any plans to upgrade to PostgreSQL 9.5?

[2016-03-25 11:41] LukeSwart commented on #32
This image should have the `/etc/postgresql/9.4/main/pg_hba.conf` file already, so it seems that your file has been removed or overwritten somehow (tested on the `9.4-2.1` branch).

But this is definitely an interesting issue, especially with the [new Docker Compose version 2 networking implementation](https://docs.docker.com/compose/networking/). Instead of linking containers and connecting to th

[2016-03-26 15:38] isuftin commented on #32
This is now an issue for me as well. I am unable to connect any containers using the docker-compose version 2 networking.

Example:

[code]

[2016-03-26 21:08] timlinux commented on #32
Yeah using container linking is a much nicer way to do it.

[2016-03-26 21:14] LukeSwart commented on #32
@isuftin Since docker-compose version 2 uses container linking, you'll need to update your `pg-hba.conf` file to accept the new hosts. On this image, it is located under `/etc/postgresql/9.4/main/pg_hba.conf`.

On docker-compose version 2, you can probably do this as a workaround in your compose file:

[code]

It allows all hosts to connect to your database, then starts the postgis container as us

[2016-03-26 21:15] timlinux commented on #32
Hi @erikschlegel

There is a patch here to support using a custom pg_hba.conf https://github.com/kartoza/docker-postgis/pull/30 I am still evaluating this.

It is not really a design intent that the PG instance is accessible by default outside of the docker composed architecture. My intent was that the PG container gets used as a linked container with linked services being allowed in the pg_hba.co

[2016-03-26 21:15] timlinux commented on #34
Hi

Yes I will add PG 9.5 support soon.

Regards

Tim

[2016-03-26 21:50] isuftin commented on #32
@LukeSwart Ah good point. I didn't think of using the `command` attribute. I actually am using the DB container within a higher level container and ended up running that exact echo command as part of the build step for the higher level container ;)

[2016-03-26 21:55] timlinux commented on #32
Just make sure you understand the security implications of this - make sure the PG port is blocked in your firewall to hosts you don't want to be accessing it.

[2016-03-26 21:57] isuftin commented on #32
@timlinux Agreed, this is very much insecure (as far as allowing outside traffic in goes). For my purposes, this is for local development in a larger project and is not meant for production purposes. Good point.

[2016-03-26 22:07] LukeSwart commented on #32
I referenced this issue in my first comment, but I just wanted to clarify that I would love to figure out how to restrict access to just a few select containers (using docker-compose version 2). For example, if my app has the name `my-app`, and I want to allow it to connect to Kartoza's docker-postgis container, perhaps I can enter `host all all my-app md5` into `/etc/postgresql/9.4/main/pg_hba.co

[2016-04-08 17:29] elcodedocle opened #37 "license"
The licensing terms of this project are not clear. Could you upload a license file to the repository?

[2016-04-12 16:58] elcodedocle commented on #34
While it is not available here I added support for 9.5/postgis-2.2 on my fork ( elcodedocle/docker-postgis). Also available on dockerhub @ gael4imatia/docker-postgis . But be aware I will not be maintaining this fork, I'll be back to use this project as soon as it's updated (hopefully with a license file too, please! ;-) ).

[2016-04-12 17:58] timlinux commented on #34
@elcodedocle could you just make a pull request from your repo. I will merge it and set up a new build target on docker hub.

Thanks!

Tim

[2016-04-20 10:51] elcodedocle commented on #34
I send it on #39 Please consider adding a license file to the project. Thank you

[2016-04-26 14:47] gcapnias opened #40 "Docker networks support"
I am trying to use "docker-postgis" image within a Docker network.

The default Docker network is 172.17.0.0/16. Although, if a Docker network is used, the IPs change range to 172.18.0.0/16 for the first network, 172.19.0.0/16 for the second, etc.

Would it be possible to add support for Docker networking, not for the default network only - perhaps change 172.17.0.0/16 to 172.0.0.0/24?

Ref: Docke

[2016-04-26 16:44] euqip opened #41 "docker-compose usage with persistent data, database exited with code 1"
Hi Tim, thanks for the great job.

I tried to use the Postgis database container together with Qgis 2.14 container. Both separately worked fine.
I bundled all in a docker-compose.yml file, using persistent postgres data on local drive.
Here is my docker-compose.yml file:

[code]

By doing this way, I do not need database container IP address to call it, I simply use db.
(/Docker is a drive dedicat

[2016-05-12 19:26] matt-baker commented on #40
Docker machine is using [192.168.0.0/16 ](https://docs.docker.com/machine/reference/ip/). Adding support for docker machine would also be great.

Just in case it's useful for anyone else who is unable to connect over docker machine, a quick workaround to have Postgresql listen for all connections is:
[code]
Other than this minor issue, this image has been very useful. Thanks @kartoza!

[2016-05-24 06:17] elcodedocle commented on #34
@timlinux So what about the upgrade? Is is not ok?

[2016-06-03 16:11] gubuntu opened #44 "add configuration tweaks"
There are several tweaks to optimise PostgreSQL performance for spatial, mostly in postgresql.conf.

Include these as defaults in this setup
- [x] increase shared_buffers from default to 500MB (in postgresql.conf)
  - you also need to add these lines to the end of  /etc/sysctl.conf.
    `kernel.shmmax=543252480`
    `kernel.shmall=2097152`
  - shmall units are pages and shmmax units are bytes(?) e

[2016-07-19 20:51] matt-baker opened #46 "Support for shp2pgsql and pgsql2shp?"
Hi,

Are there any plans or interest to add support for the [shp2pgsql](http://postgis.net/docs/manual-1.3/ch04.html#id435762) and [phsql2shp](http://postgis.net/docs/manual-1.3/ch04.html#id436110) utilities?

Being able to quickly and easily import/export data using these is useful for those of us who are required to dabble in the world of shapefiles occasionally.

I was able to get something wor

[2016-08-26 09:37] davidbarton opened #47 "After start script"
Hello, how do I run script/command after container is up and running? I am thinking something like this

[code]

[2016-11-21 17:37] kofronpi commented on #46
@matt-baker couldn't you create another container with the postgis utilites and use it from there ? I use shp2pgsql from my main os into this docker-postgis image with success.

[2017-02-01 10:00] culebron opened #53 "Confusing instructions and unable to connect"
So, I read the README.md, and there's this line

    sudo docker run --name "postgis" -p 25432:5432 -d -t kartoza/postgis

And then below there's another subsection called "Convenience run script"

    ./run-postgis-docker.sh (some parameters)
    and then run
    psql -h localhost -U docker -p 25432 -l

I open this script in an editor, and there's no section `-p 25432:5432`, so you should connect

[2017-02-01 10:09] culebron commented on #53
Found out the problem source:

The convenience script has no `-p` parameter, so the port is just not available, but I have another instance of Postgres running in that machine, and it accepted connection to 5432, and was rejecting my user/password.

Need to add `-p 25432:5432` to `run-postgis-docker.sh`.

[2017-02-22 21:19] hishamkaram opened #55 "docker-compose error"
I have this configration in docker-compose.yml :
[code]
and in make file :

[code]
when i run :
`make sync `
this error appear :
[code]

[2017-03-26 21:09] AndreLobato opened #56 "Errors on restart"
Hi There, I am getting some errors when starting or restarting the image. I am wondering if those could indicate a issue in the termination process and if this could lead to a future corruption, in case I deploy this image in production...

So when I first start the `latest` image (currently 9.5.6) with...
```docker run -ti kartoza/postgis```

I get...
[code]
I also get those errors every time it

[2017-03-26 21:16] timlinux commented on #56
Perhaps those scripts have been removed from postgis 2.2 - I am going to check on that quickly...

[2017-03-27 00:20] AndreLobato commented on #56
Actually I was more concerned with the proper termination of the background process, which was preventing the image to start at all on Centos 7. So I did this PR to help to prevent this. There is still the proper termination of the foreground process that needs improvement as well, because at the moment, it hangs on the primary docker TERM signal and only exits on KILL, not gracefully terminating.

[2017-03-27 04:29] timlinux commented on #56
Ok thanks for the clarification. The legacy scripts referenced in this issue are probably a red herring - they provided backwards compatibility support for Postgis 1.5 users migrating to 2.x. It seems the scripts have since been removed. I am making a PR to remove them from the startup script - then we can close this issue out and address the underlying issue you describe here separately.

[2017-03-27 04:35] timlinux commented on #56
See https://github.com/kartoza/docker-postgis/pull/59

[2017-03-27 04:56] timlinux commented on #55
Hi Sorry for the very slow reply. Did you resolve this issue? It looks like you need to add the 172.18.0 network in your pg_hba.conf file.  Are you running in boot to docker or what is your environment?

[2017-03-27 06:20] timlinux commented on #53
I updated ``run-postgis-docker.sh`` now thanks

[2017-03-28 08:42] hishamkaram commented on #55
I solved the problem by editing setup.sh
I am running on ubuntu 16.04

[2017-03-28 08:42] #55 closed

[2017-06-15 07:49] narnikgamarnikus commented on #55
@hishamkaram
I ran into the same problem.
In one of my projects everything worked as it should, in the other, on the same day, I got this error.
How did you manage to solve it?

[2017-06-15 07:57] narnikgamarnikus commented on #55
If I add
`echo "host    all             all             172.18.0.4/16               md5" >> /etc/postgresql/9.5/main/pg_hba.conf` to setup.sh , a get  `django_1    | Postgres is unavailable - sleeping`

[2017-06-15 07:58] hishamkaram commented on #55
You can use this one https://hub.docker.com/r/cartoview/cartoview-postgis/
Forked from kartoza image and working fine

On Thu, Jun 15, 2017, 9:49 AM narnikgamarnik <notifications@github.com>
wrote:

[2017-06-15 08:00] hishamkaram commented on #55
But be careful this image listen to all requests so you can access db
remotly

On Thu, Jun 15, 2017, 9:58 AM Hisham Karam <hisham.karam@cartologic.com>
wrote:

[2017-06-15 08:02] narnikgamarnikus commented on #55
@hishamkaram thanks you

[2017-07-19 02:21] kodeine opened #63 "The following packages have unmet dependencies:"
![image](https://user-images.githubusercontent.com/8620059/28347806-f2bcd40a-6bfe-11e7-8df2-4a9abfe0f208.png)

anyone can help fix this?

[2017-07-19 16:46] kodeine opened #64 "WIll data persist if docker is shut down?"
I wanted to know if databases will persist when docker shutsdown?

[2017-07-19 17:05] blackjackyau commented on #64
it will not persist if "docker-compose down", as the data follows the container (docker-compose stop) will not kill the data on the next docker-compose start
Always encourage to mount the data folder (/var/lib/postgresql) to the host file system

[2017-07-19 19:23] kodeine commented on #63
any one can help me on this?

[2017-07-19 22:15] kodeine commented on #63
i was able to fix this by changing `FROM debian:latest` to `FROM debian:jessie`

[2017-07-19 22:15] #63 closed

[2017-08-19 14:05] apiszcz opened #66 "Package ?"
- Does this docker image contain :
- ogr_fdw
- pgrouting

Thank you.

[2017-08-30 18:44] rumski20 opened #67 "Server never fully starts"
When I try to start up this container, the server seems stuck --> it continuously logs:

Presumably, this is based on these lines of code in `start-postgis.sh`:
[code]

Any idea what might be happening here? Or even how to produce some more useful log information?

[2017-08-30 18:46] rumski20 commented on #67
I think I see the problem. I'll open it as a new issue since it seems separate.

[2017-08-30 18:46] #67 closed

[2017-08-30 18:48] rumski20 opened #68 "Data directory has group or world access"
When starting up the container I see the following the logs:

followed by

Any ideas on how to remedy this?

[2017-08-31 13:38] rumski20 commented on #68
Deleting the postgres data directory on my host (that was linked to a container volume), and then rebuilding the container seems to have resolved the issue.

[2017-08-31 13:38] #68 closed

[2017-09-03 11:21] NicholasDsouza1996 opened #69 "Ive got an issue when i run python manage.py runserver 0.0.0.0:8000 i get this long error. Someone please help"
![error1](https://user-images.githubusercontent.com/20857536/30002477-07c1e95c-909a-11e7-8377-ca9ed9f05978.png)
![error2](https://user-images.githubusercontent.com/20857536/30002478-0914af9c-909a-11e7-8fe6-8d9e257af577.png)
![error3](https://user-images.githubusercontent.com/20857536/30002480-0a84faa8-909a-11e7-92a5-356190f323e9.png)

[2017-09-15 07:59] mbernasocchi commented on #40
@timlinux what do you think about this? I've been successful with
[code]

in a docker-compose v2 but this is obviously going to break if my network is not exactly a 172.20 subnet.

[2017-10-10 15:05] matt-baker commented on #46
@kofronpi - great idea. Thanks.

[2017-10-10 15:05] #46 closed

[2017-10-20 06:56] timlinux commented on #69
I'm sorry but your error seems to relate to your django project not to docker-postgis. Can you please ask your questions over on geonode? Thanks!

[2017-10-20 06:56] #69 closed

[2017-10-20 06:58] timlinux commented on #64
This is covered in the readme here:

https://github.com/kartoza/docker-postgis#storing-data-on-the-host-rather-than-the-container

[2017-10-20 06:58] #64 closed

[2017-10-20 06:59] timlinux commented on #56
Closing this as it should be taken care of in #59 - please re-open if troubles persist.

[2017-10-20 06:59] #56 closed

[2017-10-20 07:00] #53 closed

[2017-10-21 20:13] timlinux commented on #66
I've added pgrouting to the 9.5, 9.6 and latest (which matches 9.6 at the moment) builds - you should see this pushed to the docker repos later today.

I don't have any plans to add ogr foreign data wrappers, but will happily accept a patch that provides it.

[2017-10-21 20:13] #66 closed

[2017-10-21 21:30] timlinux commented on #47
@davidbarton you have basically two choices:

1) Derive your own container using mine as a base and modify the startup script
2) do it in bash, spinning up an instance  of postgis and then executing your script.

As for your script - you can provide  additional ip ranges to allow as a start env variable (consult the README for details).

[2017-10-21 21:30] #47 closed

[2017-10-29 20:37] alexurquhart opened #70 "Using 10.0-2.4 tag does not install Postgres 10"
Thank you for publishing and maintaining this repository, I've been using it for awhile. Today I just pulled and ran `kartoza/postgis:10.0-2.4` and found that it's actually installing Postgres 9.6.5.

How to reproduce:
[code]

I'm also seeing 9.6.5 when doing `SELECT version();` in psql.

[2017-11-06 12:00] brunifrancesco commented on #70
Same problem here

[2017-11-15 09:18] lwiechec opened #72 "error in command-line parsing in run-postgis-docker.sh"
I think there is a typo in https://github.com/kartoza/docker-postgis/blob/develop/run-postgis-docker.sh#L43; should it not be `d)` ?

[2017-11-18 16:59] AlexandreRoba commented on #32
I'm having the same problem and no proposition here seems to solve the issue. :(
I'm deploying on Kubernetes. I have two pods. One with GeoServer and one with Postgis.
Postgis is exposed to all other pods in the clusters and the ports is properly opened.
I've added the line:
[code]
When I try to add a store on geoserver I'm getting the following error:
"Error creating data store, check the paramet

[2017-11-21 14:55] johnklawlor commented on #70
I notice the same issue, as well. I pull 10.0-2.4, but it installs 9.6.

[2017-11-29 17:57] scizmeli opened #74 "can't access with psql when using docker-compose"
I am able to launch and access psql database with persistent local storage with

`sudo docker run --name=postgiscontainer -d -e POSTGRES_USER=knn -e POSTGRES_PASS=knn -e POSTGRES_DBNAME=knn -e ALLOW_IP_RANGE=0.0.0.0/0 -p 54322:5432 -v $(pwd)/postgres_data:/var/lib/postgresql --restart=always kartoza/postgis:9.6-2.4`

I can connect to the database from the host
`PGPASSWORD=knn psql -U knn -h localh

[2017-11-29 18:31] scizmeli commented on #74
Found my own mistake. The environment variable should be called POSTGRES_PASS and not POSTGRES_PASSWD. It's a typo from my side. Problem solved.

[2017-12-01 03:49] teamsoo commented on #70
Same problem here

[2018-01-05 14:16] rumski20 opened #78 "Recent commits to branch 9.5-2.2 appear to break buildq"
I pulled down the three or four most recent commits to the 9.5-2.2 branch and then stopped, rebuilt, and restarted my container. Another key here is that I had a folder on the host listed as a volume for persistent storage.

The build and restart went fine, but when I try to access any tables with geometry I get the following error:
`ERROR:  could not access file "$libdir/postgis-2.3": No such fil

[2018-01-09 01:46] rumski20 commented on #78
I was able to fix my container via a psql connection following the advice here: https://stackoverflow.com/a/46775620/6072959
After doing this, `SELECT PostGIS_full_version();` indicates version 2.4, so as I mentioned above, I'm suspicious of those Debian packages getting installed.

[2018-01-09 01:46] #78 closed

[2018-01-09 01:47] rumski20 opened #79 "How to load rasters into database?"
I would like to load raster datasets into the postgis database. Usually this is done with the shipped `raster2pgsql` script, but I can't seem to find that on the container.
Any ideas?

[2018-01-09 02:02] rumski20 commented on #79
Finally got this package to install without errors. Here's what I threw into the dockerfile after the main postgres installation commands on line 21:
`RUN apt-get install --no-install-recommends -y postgis`

[2018-01-09 02:02] #79 closed

[2018-01-15 12:04] rajanski commented on #32
@AlexandreRoba as far as I undestand, there is only one postgis-enabled db prepared in the postgis container: 'gis'

[2018-01-15 13:24] AlexandreRoba commented on #32
You are right. But I can connect to it :( I've drop this since and now running everything from the same container...

[2018-01-18 12:17] Jyrks opened #80 "Can't log into the database"
I started a docker container: docker run --name "postgis" -p 5432:5432 -d -t kartoza/postgis:9.6-2.4

When I try to log in using bash it fails with user docker and password docker:
docker exec -it postgis bash
root@23bc932b6063:/# psql -U docker
psql: FATAL:  Peer authentication failed for user "docker"

[2018-02-07 10:19] renganatha10 opened #81 "Connecting to postgres services within dockercompose service"
I am completely blocked and couldn't understand what i am doing wrong. This is not related to this repo but I feel like you people can help me.

I am trying to connect postgresdb service with nodejs web service using docker compose

My docker-compose.yml file

    version: "3"
    services:
      web:
          build: ./
          ports:
           - "40000:3000"
          depends_on:

[2018-02-07 10:39] #81 closed

[2018-02-08 23:09] timlinux commented on #74
Thanks @scizmeli

[2018-02-08 23:09] #74 closed

[2018-02-08 23:10] timlinux commented on #72
Its fixed in master but it seem there is still a problem with the script since it always only shows the help text.

[2018-02-08 23:12] timlinux commented on #70
Should be fixed now - see https://hub.docker.com/r/kartoza/postgis/builds/

![screen shot 2018-02-09 at 01 11 28](https://user-images.githubusercontent.com/178003/36003332-35d1c9a2-0d36-11e8-80b9-68b5913f77a3.png)

Please re-open if the problem persists.

Thanks!

[2018-02-08 23:12] #70 closed

[2018-02-11 00:06] adamoxley opened #83 "Issue connecting to database from docker host and other containers on macOS"
Currently seeing an error when trying to connect to the Postgres container either from host machine or other docker containers on macOS High Sierra, Docker Version 17.12.0-ce-mac49 (21995).

Error I get is-

I assumed this was due to it defaulting (as the docs specify) to the docker private subnet. So I placed the below into my docker-compose file

[code]

With the follow `.env` file -

[code]

(A

[2018-02-12 08:58] NyakudyaA commented on #80
@Jyrks The default database that is created when starting the container is called gis. You need to connect to this database
 ` psql -U docker -p 5432 -h localhost -d gis`

[2018-02-12 08:58] #80 closed

[2018-02-13 09:56] daerion commented on #83
Yeah, we just ran into the same problem. After a bit of digging I found the reason for it.

The `start_postgis.sh` script attempts to append the value of the `ALLOW_IP_RANGE` env var to `/etc/postgresql/10.0/main/pg_hba.conf` - while the actual config file resides at `/etc/postgresql/10/main/pg_hba.conf`.

[2018-02-15 20:30] lomasz opened #84 "/start-postgis.sh: line 74: /etc/postgresql/10.0/main/pg_hba.conf: No such file or directory"
I've downloaded newest version (created one hour ago) of 10.0-2.4 from dockerhub, but during running container `start-postgis.sh` is still trying to update `pg_hba.conf` in `/etc/postgresql/10.0/main/` instead of `/etc/postgresql/10/main/`
[code]
so when I try to run my application using `docker-compose` I can not connect to database - I can connect to database only using host `localhost`.

My `do

[2018-02-21 17:48] #84 closed

[2018-03-12 10:55] synchrone opened #85 "ALLOWED_HOSTS is not recognized in latest (10.0-2.4)"
When ALLOWED_HOSTS is specified (0.0.0.0/0 in my case), the container starts with a line:
`/start-postgis.sh: line 74: /etc/postgresql/10.0/main/pg_hba.conf: No such file or directory`

and then
`2018-03-12 10:40:13.095 UTC [144] docker@gis FATAL:  no pg_hba.conf entry for host "172.20.0.4", user "docker", database "gis", SSL on`

This does not happen in 9.6-2.4

[2018-03-21 10:54] jancelin commented on #85
https://github.com/kartoza/docker-postgis/pull/88

[2018-03-21 23:02] timlinux commented on #85
Can you test again? I just merged a bunch of changes to develop and 10 branch - it should work now.

[2018-03-22 06:56] timlinux opened #91 "Include gif in readme"
It would be nice to include this GIF in teh readme:

![qgis](https://user-images.githubusercontent.com/178003/37755610-dd3b774a-2dae-11e8-9fa1-4877e2034675.gif)

The GIF shows replication working in QGIS

[2018-03-22 08:50] jancelin commented on #85
OK for me,
nice commit and nice restructuring of the setup.
I also needed to restore a dump at boot time, I added this to the setup-database.sh
[code]
and this is the docker-compose.yml
[code]
The sources are there:
https://github.com/jancelin/docker-postgis

with the possibility to Play with Docker:
[![Try in PWD](https://cdn.rawgit.com/play-with-docker/stacks/cff22438/assets/images/button.png)](

[2018-03-30 10:06] #91 closed

[2018-04-03 09:59] sagyvm commented on #85
For restore I added something like this
`su - postgres -c " pg_restore -d $POSTGRES_DBNAME /home/$POSTGRES_DUMP "`

[2018-04-11 09:35] gubuntu commented on #44
Hopefully resolved with #92

[2018-05-07 10:07] Vanav opened #96 "Branch 9.6-2.4 recently lost some access lines from pg_hba.conf"
setup-pg_hba.sh:
[code]
But there is no setup.sh and this lines are not added in other script. As a result:
[code]

[2018-05-13 12:47] kkalugerov opened #97 "Chaning pg_hba.conf"
Guys can you explain me how can I change the pg_hba.conf of container while I'm building it...
I have tried to add in Dockerfile
RUN echo -e "host all all 127.0.0.1/32 trust\n host all all ::1/128 trust\n local all all trust" > /etc/postgresql/10/main/pg_hba.conf

but nothing happened... Can you help ?
Thanks !

[2018-05-13 15:37] #96 closed

[2018-05-14 13:37] timlinux commented on #97
@kkalugerov I tried with your command as above but the -e is inserted into the hba file, breaking it:

[code]

if you are customising the image, it might be simpler to just do a Dockerfile like this:

[code]

Here is the validation that it worked:

[code]

[2018-05-14 13:38] timlinux commented on #97
Note in newer docker versions, the extra RUN commands no longer impose a layer penalty so it is ok to be verbose like this I think.

[2018-05-18 10:19] kkalugerov commented on #97
@timlinux  Any suggestions :? :)

[2018-05-18 14:19] #85 closed

[2018-05-18 15:26] rafaelcoutinho opened #98 "Database is dropped and recreated on every container restart?"
It is not an issue, but more of a question. Every time i restart docker, the database seems to be dropped and created. Is it expected?

[2018-05-18 15:51] rafaelcoutinho commented on #98
found this property:
DESTROY_DATABASE_ON_RESTART: 'False'

[2018-05-18 15:51] #98 closed

[2018-05-21 11:03] timlinux commented on #85
@jancelin your docker playground is really cool!

[2018-05-21 11:39] jancelin commented on #85
Thank you.

[2018-05-26 20:47] timlinux commented on #97
@kkalugerov my suggestion would be to simply make a local copy of the pg_hbba file and then add it during your docker build. Does that not work for you?

[2018-05-27 15:03] gubuntu commented on #97
we have made improvements to config file modification in the 9.6-2.4 branch that will soon be ported to the 10.0-2.4 branch by @NyakudyaA. Then all you should need to do is modify setup-pg_hba.sh with the lines you need.

[2018-05-29 19:02] martinthurn opened #100 "How to run SQL after startup?"
When loading "mainstream" postgres containers via the docker-maven-plugin, we can put SQL files in /docker-entrypoint-initdb.d and they will run after startup.  How can we achieve that with your postgis container?  How can we create tables and insert data after startup?

[2018-05-30 06:38] NyakudyaA commented on #100
@martinthurn When you spin a container you can basically run any scripts again the database.
[code]
Is there any reason why you would prefer the scripts to be incorporated into the image?

[2018-05-30 11:33] martinthurn commented on #100
I'm using the docker-maven-plugin and we don't have access to the command line.

[2018-05-30 20:07] timlinux commented on #100
@martinthurn we would need to add some configuration options to support that, currently it is not supported in our build.

[2018-05-31 12:23] archienorman11 opened #101 "Cant access postgis from another container running SQLAlchemy."
Massively appreciated if someone can help out here:

I have a container running Flask, no issues:
[code]

I am running postgis like so:

[code]

Accessing postgis from my host works fine:

`$ psql -h 0.0.0.0 -U *** -p 5432 -l`

However, when I try to connect via my `api` container, I get the following error:

[code]

I connect from within my `api` container like so:

`postgres://***:***@postgis:54

[2018-06-05 01:56] alex-l-kong opened #102 "raster2pgsql support?"
I'm trying to use raster2pgsql to import a few .adf files into PostGIS using this container. I tried using docker exec -it <CONTAINER ID> /bin/bash raster2pgsql ..., but that hasn't worked. Is there a way I can use raster2pgsql with this container?

[2018-06-05 08:01] timlinux commented on #102
@NyakudyaA can you help with this?

[2018-07-24 15:59] Jwely opened #103 "PostGis extension not available in postgres server"
Our container with postgres is not built with the postGIS extension enabled.

[2018-07-26 18:43] maratumba opened #104 "Default locale SQL-ASCII?"
I'm getting a SQL-ASCII charset when I run a container.

[code]

But in this [tutorial](https://alexurquhart.com/post/set-up-postgis-with-docker/), the default locale seems to be UTF8, which is what I need. Is there a way to change the default locale when running the container for the first time?

[2018-08-06 12:54] timlinux commented on #103
Can you give more details please? Please paste the precise steps you followed and resulting outputs. Closing pending further info, plrease re-open if you update this with diagnostic data.

[2018-08-06 12:54] #103 closed

[2018-08-17 06:52] NyakudyaA commented on #102
@alex-l-kong I have got PostGIS installed natively on my ubuntu and I can run the following:
`docker exec -it postgis  /usr/bin/raster2pgsql  -G`
Alternatively, you should be able to exec into the container and do 'apt-get install -y postgis` which will install all the utilities like shp2pgsql and raster2pgsql

[2018-08-29 14:22] elliveny opened #106 "/usr/bin/env: 'bash\r': No such file or directory"
After cloning the repo and issuing the 'docker build -t kartoza/postgis .' command I see the following:

[code]

I'm running on Windows 10 64 bit. New to docker and not sure how I might fix this. Thanks for any help!

[2018-08-29 21:48] elliveny commented on #106
I worked it out; it appears all of the .sh files need to have Unix line endings, i.e. LF, but all had CRLF - at least according to Visual Studio Code. I changed them locally and re-saved, then the docker build completed successfully.

[2018-08-30 10:43] #106 closed

[2018-11-08 19:29] Ricardo-C-Oliveira commented on #100
Is this still unsupported? We are looking to pack the data with the image. Right now when I use:
[code]

I get:

[code]

So the database is shutdown before the init scripts can run, is there any way around this?

[2018-11-14 04:06] darkcloud1801 opened #108 "FATAL: data directory "/var/lib/postgresql/9.6/main" has group or world access"
In OS X Mojave with the latest Docker for Mac installed, and this section of my docker-compose.yml file, I get this build error.  Any suggestions?

 db:
    image: kartoza/postgis:9.6-2.4
    container_name: sherman-postgres
    environment:
      - POSTGRES_DBNAME=strax
      - POSTGRES_USER=river
      - POSTGRES_PASS=song
      - ALLOW_IP_RANGE=0.0.0.0/0
    expose:
      - "5432"
    ports:

[2018-11-14 05:40] darkcloud1801 commented on #108
I attempting to use a bound volume for my postgres data.
I elected to switch over to using a regular docker volume, and the issue was resolved.

However, I think there should still be a solution with bound volumes.

[2018-11-14 08:23] schulzsebastian opened #109 "Docker entrypoint initdb.d - Postgres killed after setup-database.sh"
Hi!

I had problems with using /docker-entrypoint-initdb.d/* - scripts were running (not ignoring) without errors - but there was no changes on DB. I realized that setup-database.sh kills Postgres process - so that's why queries are not running on DB instance.
I erased "killing" code from setup-database.sh and pasted after 37 line (end of /docker-entrypoint-initdb.d/* loop) in docker-entrypoint.sh

[2018-11-16 06:19] NyakudyaA commented on #104
@maratumba we could just add an environment variable that sets the encoding using
`PGCLIENTENCODING=LATIN1`

[2018-11-16 12:51] maratumba commented on #104
I forked the project and found a solution (for Turkish at least). It was a bit more work than a single environment variable as I remember. Need to do some work to make it so.

[2018-11-20 18:51] darkcloud1801 commented on #108
I did, but it doesnt' resolve the issue.

[2018-12-29 10:00] NyakudyaA commented on #100
@livemixlove I will investigate this and add these options

[2018-12-29 10:02] NyakudyaA commented on #109
@schulzsebastian I think this issue is related to https://github.com/kartoza/docker-postgis/issues/100
I will investigate this and tackle it

[2019-01-24 08:21] gubuntu opened #111 "changes to postgresql.conf happen in too many places"
# problem

we copy in a modified postgresql.conf

various scripts also write to postgresql.conf

this results in duplicate and possible different unintended settings

even within the postgresql.conf in the repo there are multiple duplicate settings to start with (on the original lines and then at the end)

# proposed solution

leave the original postgresql.conf in place (and remove it from this re

[2019-01-24 08:25] gubuntu opened #112 "streaming replication not running"
# problem

after a successful base backup on a slave, setting 'destroy on restart' to False and restarting, replication does not take place (no wal_receiver process and no changes from master are visible in the slave db)

as I write, gisbox2 is exhibiting this behaviour and is the most urgent to get working

# solution

troubleshoot and fix

[2019-01-24 10:40] NyakudyaA commented on #111
@gubuntu this has already been modified in the branch 9.6 and 10. I will just need to port this to the develop branch. We no longer using the logic to copy a modified postgresql.conf because it is ineffective.

[2019-01-24 10:54] gubuntu commented on #111
yes I thought I had fixed that previously. Looks like I wasn't on the 9.6 branch as I thought when I was looking through it on GH.

Please check that 9.6 and 10 are consistent with develop

I propose you remove the branches for older versions and add one for 11/2.5

And add a note to the readme about the git flow policy - all changes to develop (to work with latest stable combination), then merge

[2019-01-24 10:56] gubuntu commented on #111
if you look in the config files in a deplyed instance you'll see multiple copies of custom configs at the end of the file. Is that from the scripts being run on each restart?

[2019-01-24 11:49] NyakudyaA commented on #111
@gubuntu I suppose the restart might be doing that.  I will look into this and rectify. The scripts should only run on an upgrade rather than on restart. Otherwise, they should purge the current settings defined in the conf.

Our git flow has been wrong all along. We have constantly been applying changes to the 9.6 branch. I only realised that the 10 branch was different to develop.

So, for now,

[2019-01-29 19:11] NyakudyaA commented on #111
closed via https://github.com/kartoza/docker-postgis/pull/99/commits/8fc61daab924c4127d7f899821bc8c453a5a9855

[2019-01-29 19:11] #111 closed

[2019-02-15 15:52] thnkloud9 commented on #100
any updates on this issue?

[2019-02-24 10:48] xermus opened #122 "How can I enable plpythonu out of the box?"
I am trying to migrate a Postgres 9 database to this docker-postgis Postgres 11 container. However, I am getting the error

[code]

as plpythonu does not seem to be enabled. When specifying Python (plpythonu) as an additional extension to be available, the PG version created does still not support plpythonu (select * from pg_language;).

My Docker environment is running on an Ubuntu 18 server.

An

[2019-02-24 11:27] NyakudyaA commented on #122
Hi, @xermus Just a quick google search on your problem it seems it needs you to do a bit more configurations as opposed to just doing a create extension. http://raghavt.blogspot.com/2017/09/create-language-plpython3u-postgresql-96.html

[2019-02-24 11:42] NyakudyaA commented on #112
@gubuntu can we close this ?

[2019-02-24 11:54] NyakudyaA commented on #32
I think this issue no longer exists. I can connect to a DB running on a different host and GeoServer works fine

[2019-02-24 11:54] #32 closed

[2019-02-24 11:55] NyakudyaA commented on #37
Added licence https://github.com/kartoza/docker-postgis/blob/develop/LICENSE

[2019-02-24 11:55] #37 closed

[2019-02-24 11:57] NyakudyaA commented on #34
This has been fixed and we now have PostgreSQL 11 and the licence file added

[2019-02-24 11:57] #34 closed

[2019-02-24 11:59] NyakudyaA commented on #44
All these tweaks are now standard in all images

[2019-02-24 11:59] #44 closed

[2019-02-24 12:01] NyakudyaA commented on #41
This has been fixed with allow IP range and allow IP_LiST to control connections

[2019-02-24 12:01] #41 closed

[2019-02-24 12:03] NyakudyaA commented on #72
This has been replaced by docker-compose

[2019-02-24 12:03] #72 closed

[2019-02-24 12:06] NyakudyaA commented on #97
We have added https://github.com/kartoza/docker-postgis/blob/develop/setup-conf.sh#L24 to control connections to the database.

For ph_hba you can now pass an environment variable https://github.com/kartoza/docker-postgis/blob/develop/setup-pg_hba.sh#L17

[2019-02-24 12:06] #97 closed

[2019-02-24 13:22] xermus commented on #122
Thanks.

I need Postgres 11.2 - because plpythonu seems to be only compatible with 11.2 (there seems not to be a plpythonu version out there for 11.1). How can I install "docker-postgis" with Postgres 11.2?

[code]
did not work

[2019-02-24 13:56] NyakudyaA commented on #122
Hi, @xermus I suggest you create a PR using the following conditions and you can test it on your side and we can merge if it will benefit a lot of people.

Currently, you might have to rebuild the image yourself using these settings

From line 11 and 12
https://github.com/kartoza/docker-postgis/blob/develop/Dockerfile#L11

[code]
Change it to the following

[code]

And also install `apt-get instal

[2019-02-24 17:31] xermus commented on #122
Hi @NyakudyaA! Thanks for your feedback. Python 2 is still the default version (preferred by the Postgres Group over Python 3). Here is what I did to make Python 2 work:

1. Clone the Github repository and change the Dockerfile as following:

[code]

2. I ran:

[code]

3. I ran the container using:

[code]

4. I logged into the Postgres database and enabled Python: (which is PER DATABASE)

[code]

[2019-04-01 13:10] koffisani opened #124 "Connect to postgres when using django"
Hi,
I'm using this image for PostGIS, and facing issues to set correctly connection to Postgres database.

Refering to [a docs about connecting to postgres](https://www.hackzine.org/postgis-on-gitlab-ci.html), I use this

[code]
But I can't get it working. Can I have a little help ?

[2019-04-11 09:39] gubuntu commented on #112
yes, working fine

[2019-04-11 09:39] #112 closed

[2019-04-18 00:21] allthesignals commented on #100
I think we were going down a rabbit hole with this, following the wrong documentation [(which we assumed this extended from)](https://hub.docker.com/_/postgres/):

I think in some form, the script is run, but:
 - `*.sql` scripts silently fail
 - `*.sh` scripts that use the documented approach to connecting via `psql` cannot connect

We are looking for other approaches, but it's good to understand

[2019-04-18 00:21] allthesignals commented on #100
I think we were going down a rabbit hole with this, following the wrong documentation [(which we assumed this extended from)](https://hub.docker.com/_/postgres/):

I think in some form, the script is run, but:
 - `*.sql` scripts silently fail
 - `*.sh` scripts that use the documented approach to connecting via `psql` cannot connect

We are looking for other approaches, but it's good to understand

[2019-04-18 00:36] A108669 commented on #102
@NyakudyaA : Will running `apt-get install -y postgis` not interfere with the installation of postgis in the Dockerfile?

[2019-04-18 19:47] NyakudyaA commented on #100
@allthesignals can you please test the work I have been doing here and revert to me if it works seamlessly
https://github.com/NyakudyaA/docker-postgis/tree/fix-startup-scripts

[2019-04-18 19:52] NyakudyaA commented on #109
@schulzsebastian  https://github.com/NyakudyaA/docker-postgis/tree/fix-startup-scripts
please test the above

[2019-04-18 19:55] NyakudyaA commented on #102
@A108669 glad it worked. You could also just create a new Dockerfile and just run
[code]

[2019-04-18 19:55] #102 closed

[2019-04-18 20:00] NyakudyaA commented on #124
Hi @koffisani When you run the database what credentials are you using to initialise the database

Please look at the following https://stackoverflow.com/questions/30044904/how-should-i-set-my-database-url

[2019-04-22 03:27] koffisani commented on #124
Hi @NyakudyaA, my CI config on gitlab looks like this
[code]

[2019-04-26 06:26] evgeny29 opened #125 "Attempts to create a database when one exists already"
When multiple databases are created and user matches a name of one of them, restarting a container fails as it attempts to create a database again as `psql -l | grep -w ${db} | wc -l` returns a non '1' value.
https://github.com/kartoza/docker-postgis/blob/21b45fcabde9047430d21e88723fb50a449fa5c3/setup-database.sh#L51

Example:
POSTGRES_USER=dbname1
POSTGRES_DBNAME=dbname1,dbname2

`psql -l | grep

[2019-04-26 06:59] NyakudyaA commented on #125
@evgeny29 I will take a look at it

[2019-04-28 21:57] evgeny29 commented on #125
@NyakudyaA it is not a password, but a username.

[2019-04-29 04:57] evgeny29 commented on #125
Please consider using something like below to prevent other unwanted matches..
Also note `-eq 0` for comparison.

[code]

[2019-04-29 06:32] NyakudyaA commented on #125
@evgeny29 note the changes in the PR.
https://github.com/NyakudyaA/docker-postgis/blob/startup-scripts/setup-database.sh#L52

[2019-04-29 07:20] evgeny29 commented on #125
@NyakudyaA
The current logic uses grep on "psql -l" results which may result in unwanted matches, eg if a user names his database C, SQL_ASCII or CTc as these strings appear in the Collate, Encoding,Access privileges columns.
Also, $RESULT is numeric and ` == '0' ` will be false, I think we need to use `-eq` operator.

[2019-04-29 07:36] NyakudyaA commented on #124
Hi @koffisani
`DATABASE_URL: "postgres://postgres:@kartoza_postgis/$POSTGRES_DB"` should be
`DATABASE_URL: "postgres://user:pass@hostname/dbname"`

[2019-04-29 07:39] NyakudyaA commented on #125
@evgeny29 Thanks a lot for your inputs. I have changed the PR to include your changes

[2019-04-30 05:49] #125 closed

[2019-04-30 05:50] NyakudyaA commented on #109
Now merged in develop

[2019-04-30 05:50] #109 closed

[2019-04-30 05:51] NyakudyaA commented on #100
Merged in develop

[2019-04-30 05:51] #100 closed

[2019-04-30 05:58] NyakudyaA commented on #122
I will close this as you have managed to achieve the end goal. We will however
Not be adding this to the Docker recipe because
Plpython is untrusted as documented here
https://www.postgresql.org/docs/10/plpython.html

[2019-04-30 05:58] #122 closed

[2019-05-07 13:26] #124 closed

[2019-05-14 03:15] floran974 opened #128 "Link two volumes, container not start"
I try to deploy a container docker-postgis 11  with this command :

[code]

But when i link the second volume  , the container not restart
My goal it'  have the possiblility to modify the conf file

It's possible to link two volumes ? or what it's the best way to modify the conf files ( postgresql -pg_hba.conf)
Thank you

[2019-06-10 14:30] mmmmmrob opened #131 "Multiple databases using POSTGRES_DB with docker-compose"
Thanks for the image, really helpful. Currently using `kartoza/postgis:10.0-2.4`.

Specifying multiple databases in docker-compose.yml doesn't seem to work:

[code]

This results in a database called `dbone,dbtwo`.

[code]

[2019-06-10 14:45] NyakudyaA commented on #131
@mmmmmrob Only works with `kartoza/postgis:11.0-2.5` image. I didn't port it to 10 and 9.6 image. You can either use the 11 or the latest

[2019-06-10 15:36] mmmmmrob commented on #131
@NyakudyaA ah, OK, thanks for the super quick reply.

[2019-06-10 15:36] #131 closed

[2019-06-10 19:39] elgerm opened #132 "Question about heavy load database"
Hi,

Thanks for the really handy postgis image. I've been using it for development for quite a while now. I'm going to put it in production soon and am thinking about just using this docker image for it. The opening text of the readme states: 'though probably not for heavy load databases'. - what do you mean by this? It's just postgresql right? I know I will have to fine tune the postgresql.conf,

[2019-06-10 23:45] NyakudyaA commented on #132
@elgerm The image can be used as is in production environments. The statement meant there are other optimisations you can do ie using load balancers. We have also customised the conf files with some setting which improve performance. I will reword the readme. Perhaps it would be nice for you to benchmark the performance once you have it running in production and give us feedback.

Please look at t

[2019-06-11 08:57] elgerm commented on #132
@NyakudyaA Thanks for the reply and the config. I will try and set it up with replication together with docker swarm. There will be quite some load (5000+ concurrent users / 200gb db) and coming from sql server it will be interesting to say the least.  I certainly will benchmark and give feedback about tweaks I'm sure I will stumble upon.

[2019-06-11 09:47] NyakudyaA commented on #128
@floran974 If you need to change the conf files you need to look at https://github.com/kartoza/docker-postgis/blob/develop/setup-conf.sh and put your setting there, Because mounting it as a volume will not work because on each restart those settings specified in the setup-conf.sh will overwrite what is in your conf file and you need to ensure the permissions are also written for the conf files

[2019-06-11 14:02] #132 closed

[2019-06-11 14:03] NyakudyaA commented on #83
This has been fixed. Please reopen if need be

[2019-06-11 14:03] #83 closed

[2019-06-11 14:07] NyakudyaA commented on #101
@archienorman11 Do you still experience this issue?

[2019-06-11 14:08] NyakudyaA commented on #40
This has been solved

[2019-06-11 14:08] #40 closed

[2019-06-12 05:57] floran974 commented on #128
ok , thank you

[2019-06-12 05:59] floran974 opened #133 "master to master replication"
is it possible to do master to master replication?

[2019-06-12 07:15] NyakudyaA commented on #133
No, have a look at https://www.2ndquadrant.com/en/resources/postgres-bdr-2ndquadrant/. They haven't made their work public yet but once they do we will jump onto it

[2019-06-12 07:16] #128 closed

[2019-06-21 09:27] billtian commented on #104
@maratumba could you show your solution here ? i found that the encoding is utf-8 if run docker derectly without the `-v` parameter .

[2019-06-21 09:32] maratumba commented on #104
My solution is in the pull request #105. It's been a long time since I built the image, it might have been that it was an older version.

[2019-06-21 10:03] #133 closed

[2019-06-21 10:18] NyakudyaA commented on #104
@maratumba Do you have any plans to fix the issues commented in the PR  so that we can merge the PR

[2019-06-21 10:35] maratumba commented on #104
That's on my mind for a long time now. My MacOS version doesn't seem to get along with Docker so I gave up on reinstalling it every few days. I'll try to find some time to try to fix the issues on my DO server.

[2019-07-08 10:11] NyakudyaA opened #136 "XML still not being imported properly in the database"
# Problem

We have all the docker images with the following option
`xmloption = 'document'`

But still, this fails to cater for QGIS layer styles. If I try to import a dump with a QGIS `layer_styles` table it fails miserably
![element](https://user-images.githubusercontent.com/2510900/60802228-bff28400-a178-11e9-8f63-8e10f1b7994f.png)

# Solution

* Try to save any other XML into another table and

[2019-07-26 09:26] corriebar opened #137 "unmet dependencies"
Same issue as in #63 and #23

[code]
I changed to `debian:buster` and now works

[2019-07-29 16:51] timlinux opened #139 "Please add OGR FDW"
Hi @NyakudyaA

Can you test out adding the OGR FDW to the build?

https://packages.debian.org/buster/postgresql-11-ogr-fdw

That will let us mount GIS  files into the container and treat them as FDW's.

Thanks!

[2019-07-30 07:50] #137 closed

[2019-07-30 08:10] NyakudyaA commented on #136
This is working now, the database dump was not properly getting this setting but I have tested again and it works

[2019-07-30 08:10] #136 closed

[2019-07-30 08:56] NyakudyaA commented on #139
@timlinux
I have added this and tested
![fdw-add](https://user-images.githubusercontent.com/2510900/62115400-a98fa200-b2b8-11e9-9cf7-36dfa1ddfca8.png)

[2019-07-30 08:56] #139 closed

[2019-08-23 09:06] NyakudyaA commented on #101
@archienorman11 feel free to open this issue if you still have problems

[2019-08-23 09:06] #101 closed

[2019-08-29 19:48] thacoon opened #145 "Fatal error when mounting dir that is not in current working dir"
Hi,
 I have a really weird issue. I created a postgis dir on my host system `mkdir -p /opt/postgres_data`.

So when running `cd /opt && docker run -d -v postgres_data:/var/lib/postgresql kartoza/postgis` everything works fine.

But when I run `docker run -d -v /opt/postgres_data:/var/lib/postgresql kartoza/postgis` I get a fatal error: `FATAL:  "min_wal_size" must be at least twice "wal_segment_si

[2019-09-02 06:54] NyakudyaA commented on #145
@thacoon I think the issue might have been introduced by the `--wal-segsize` which is now configurable on the setup of the cluster as described here https://www.enterprisedb.com/edb-docs/d/edb-postgres-advanced-server/user-guides/user-guide/11/EDB_Postgres_Advanced_Server_Guide.1.046.html
Can you please try out the PR https://github.com/kartoza/docker-postgis/pull/144 as it should fix this issue y

[2019-09-02 07:04] NyakudyaA commented on #104
This has been addressed in the PR https://github.com/kartoza/docker-postgis/pull/144

[2019-09-02 07:04] #104 closed

[2019-09-05 23:40] ChrisCWerner opened #146 "psql: could not connect to server: No such file or directory"
Hello! Thanks for the postgis image!

I'm having problems to get the postgis database server running. I am using docker-compose which looks like this:

[code]

And when I run `docker-compose up database`, I meet the following error:

[code]
And even when i try to start the db server with that command it doesn't work.
Any ideas of why it is not working?

PS1: when I change the volumes to `$HOME/dat

[2019-09-06 06:15] NyakudyaA commented on #146
Hi, @ChrisCWerner have you tried to use docker volumes. I have fixed this issue in the PR that is yet to be approved. I will cherry-pick the fix and deploy them to master

[2019-09-06 13:05] ChrisCWerner commented on #146
Actually using named volumes worked! Thanks haha. Gave up on them earlier for simplicity, but with them the server started correctly and the data persisted. Thanks!
Waiting eagerly for the next PR too, great work =)

[2019-09-06 13:05] #146 closed

[2019-09-09 08:48] NyakudyaA commented on #145
@thacoon can you please pull the latest image and test it

[2019-09-09 08:48] #145 closed

[2019-09-10 17:35] AlvaroLQueiroz opened #149 "Environment variables"
The docs says that the variable for set the *password* is **POSTGRES_PASS**, but apparently is wrong. In my tests, works only when i set **POSTGRES_PASSWORD**.

Another question about the variables is, why not keep the same pattern of oficial postgres image? Where to define the DB name we need set **POSTGRES_DB** and not **POSTGRES_DBNAME**.

[2019-09-11 13:20] NyakudyaA commented on #149
If you use the docker-compose.yml you will realize that it uses **POSTGRES_PASS** which works

the docker-compose.yml also uses **POSTGRES_DBNAME**
Please look at https://github.com/kartoza/docker-postgis/blob/develop/env-data.sh#L19

[2019-09-11 13:37] AlvaroLQueiroz commented on #149
Sorry, my bad. I tried again more calmly and it worked perfectly.

[2019-09-11 13:37] #149 closed, assigned to nobody

[2019-09-16 01:54] ranchodeluxe opened #150 "Running SQL Scripts at Startup in Compose"
Hello,
Thanks for creating this Docker image. I'm following the instructions [Running SQL Scripts at Startup](https://github.com/kartoza/docker-postgis#running-sql-scripts-on-container-startup) except that I'm declaring these in the `docker-compose.yml` file.  The files are mounted correctly but I'm never seeing any logs for loading and the data is not loaded. Is there a trick to using the init da

[2019-09-18 06:47] NyakudyaA commented on #150
@ranchodeluxe I see you are using an old image. 9.5.2.2 which is pretty old. Can you try the latest image 11.0-2.5 which is the current stable version and you will be able to run your script as well as creating multiple databases, extension?

[2019-09-18 08:11] NyakudyaA commented on #108
This works on my Mac and I will close this. Feel free to open the issue again should you encounter this

[2019-09-18 08:11] #108 closed

[2019-09-20 12:42] #150 closed, assigned to nobody

[2019-09-24 07:00] malone081021 opened #151 "SSL ERROR:tlsv1 alert protocol version"
run such commad:
[code]
connect to db , get flowing error:
![image](https://user-images.githubusercontent.com/43690259/65488603-1485df80-dedc-11e9-9445-531981aab0a9.png)

[2019-09-24 07:37] NyakudyaA commented on #151
hi @malone081021 I suggest if you are setting of `IP_LIST="222.128.44.115"` to also properly configure `ALLOW_IP_RANGE="0.0.0.0/0"` to listen to a few IP addresses as opposed to all.

Let me know if it works

[2019-09-24 10:41] malone081021 commented on #151
you mean
[code]

it is not works @NyakudyaA

[2019-09-25 06:43] NyakudyaA commented on #151
@malone081021 Does it work or not. Please close issue if it works or send logs again if it still doesnt

[2019-09-27 08:24] malone081021 commented on #151
```sudo docker run --name "postgis" -p 25432:5432 -d -t kartoza/postgis -e ALLOW_IP_RANGE="222.128.44.115/32" -e IP_LIST="222.128.44.115"```

it  does not work

![image](https://user-images.githubusercontent.com/43690259/65754216-22896980-e143-11e9-8ba3-784bb7adc633.png)
@NyakudyaA

[2019-10-07 03:39] oguya opened #152 "Unable to start postgis: psql connection errors"
Greetings!  Thanks a lot for this postgis docker image. It has served us well for sometime.

Unfortunately, recently, we've been getting `psql: could not connect to server: No such file or directory` errors on startup.

This setup used to work well several months ago, but now it doesn't, throws the same `psql` errors on startup:

[code]

I've also tried using the latest stable image as stated in t

[2019-10-07 06:27] NyakudyaA commented on #152
Are you using a docker volume or host mounted data directory?

I can run the setup fine on my machine without any hassles
![Screenshot 2019-10-07 at 08 24 29](https://user-images.githubusercontent.com/2510900/66289211-46d00d80-e8dc-11e9-8368-a8add0f18acd.png)

![Screenshot 2019-10-07 at 08 25 01](https://user-images.githubusercontent.com/2510900/66289219-4df71b80-e8dc-11e9-8100-4e34a156e032.png)

[2019-10-07 09:29] oguya commented on #152
Though, I'm using host mounted data directories for easier backups.

I've realised when one instance(docker-compose) of postgis container is running on a different directory, I can nolonger get another one in a different directory to run, all on the same host:

- 1st instance - docker-compose stack:
  - `docker-compose.yml` on `pg-a/` dir.

        $ cat /tmp/pg-a/docker-compose.yml
        versio

[2019-10-22 15:35] wg-mblazin opened #154 "Support for pgrouting 3.0.0"
We are trying to achieve faster results for large graphs, so we are trying to use Contraction Hierachies from pgrouting. However they were only added in pgrouting 3.0.0, any chance of supporting this version ( I think latest supported is 2.6.0 at this moment)?

[2019-10-22 15:42] NyakudyaA commented on #154
@wg-mblazin I do not think pgRouting 3 has been released yet. There is a beta version that is still being tested. As soon as it gets released we will include it with the kartoza/postgis:12.0 image we have just released.

You can clone the repo and check out the branch v12 and add instructions on how to compile pgRouting
https://docs.pgrouting.org/latest/en/pgRouting-installation.html#short-version

[2019-10-23 10:13] wg-mblazin commented on #154
Yes you are right, I will wait for the official release then, seems like a lot of work to compile it myself. Looking forward to the CH feature.

[2019-10-23 10:47] NyakudyaA commented on #154
@wg-mblazin if you are really desperate for it you can just modify the  kartoza/postgis:12.0 by running the following bash script

[code]
Then execute the following
[code]

[2019-10-23 10:47] #154 closed, assigned to nobody

[2019-10-23 15:22] rmmariano opened #155 "column proisagg does not exist"
I tried to create a PostGIS database using 9.3-2.1, 11.0-2.5 and 12.0 tags, however I'm getting the following error when I try to open 'public' schema on pgAdmin III:

[code]

I don't know why it is happening and how should I fix it.

I described the question on DBA StackExchange [here](https://dba.stackexchange.com/q/251796/181099).

I believe it is needed to change the definition of the query, l

[2019-10-23 15:41] NyakudyaA commented on #155
Please upgrade to use pgadmin 4. This is not an issue with the docker container by rather a version issue with pgadmin3. I am sure when you open pgadmin3 for the first time it gives you a notification telling you which database is supported

[2019-10-23 15:41] #155 closed, assigned to nobody

[2019-10-25 11:36] rmmariano commented on #155
Thank you NyakudyaA. Now I've understood the problem.

[2019-11-13 16:30] felipe-pereira opened #158 "Change port using env vars"
Hi, I see there are some env vars like `POSTGRES_USER `and others, but I want to run the db in a port different that 5432 (that one is already taken by the real db, the one I need a different port for is to run integration tests).

I see 5432 is hardcoded in many places, but asking anyways in case there was a simple way of changing the port.

We have this, but need to change the ports:
[code]

[2019-11-13 16:50] NyakudyaA commented on #158
Do you mean changing inside the container or not. If that is your question then you cannot do that but if it is just changing the outside port it is doable. Like “25432:5432”. You can run multiple instances with different ports because the container is ephemeral

[2019-11-13 17:29] felipe-pereira commented on #158
@NyakudyaA I tried that but for some reason connecting to 25432 fails (ECONNREFUSED), if I set
[code]
I can only connect to 5432 and not to 25432, looks like docker is ignoring that setting, that's why I asked to change both ports.

[2019-11-13 18:16] felipe-pereira commented on #158
Some extra info, I'm trying to connect to the db from another container, so the port mapping won't work since that is only for connections from outside the docker ecosystem, so it becomes evident that I need to change the 5432 to another port number.

[2019-11-13 19:04] NyakudyaA commented on #158
you mean you have two db linked by docker-compose. That db is not running inside your container so you can still access it even if the port looks identical. As long as the host is different

[2019-11-13 21:04] felipe-pereira commented on #158
I think I solved this by having the different dbs in different networks, and by removing dangling containers/images, still it would be nice to have the port taken from the env vars, closing for now.

[2019-11-13 21:04] #158 closed, assigned to nobody

[2019-11-26 16:45] firesoft-de opened #162 "postgres stuck in smart shudown"
Hi,
today I've set up a container for testing purposes (on debian buster in a virtualbox). After restart of the vm the server seems to be stuck in the 'smart shutdown' procedure.

[code]

Do you have an idea how to get the server out of the procedure without setting up a new container?

[2019-11-27 12:51] NyakudyaA commented on #162
Hi @firesoft-de Can you please send the full logs.

[2019-11-27 18:58] firesoft-de commented on #162
@NyakudyaA via `docker logs container_name`. Log starts at the time the issue began.

https://gist.github.com/firesoft-de/4450e0b9cece9523299f09046ab8dec9

current configuration:
- Table osm contains a small data excerpt from Openstreetmap.
- Table osm_germany was meant to hold an excerpt of germany.

[2019-12-01 09:51] firesoft-de commented on #162
@NyakudyaA  Do you need more informations?

[2019-12-01 16:27] NyakudyaA commented on #162
Will look at it Monday

[2019-12-03 14:52] nilsnolde opened #166 "pgrouting missing in 12.0 branch"
pgrouting doesn't get installed anymore in the Dockerfile. Is that intentional or an accident? Else I'd PR it in.

[2019-12-03 14:53] nilsnolde commented on #166
Just seeing #154. It's officially released by now. So it's safe to integrate, right?

[2019-12-03 14:54] NyakudyaA commented on #166
hi @nilsnolde Has pgrouting3 been officially released ?. If so you can PR it. last time I checked it was still beta

[2019-12-03 15:03] nilsnolde commented on #166
Hmpf, sorry @NyakudyaA, I better google that before.. Well, it's one step closer in `rc1` state, but you're right, apparently still not 1000% released. What do you think?

https://github.com/pgRouting/pgrouting/releases/
https://packages.debian.org/sid/main/postgresql-12-pgrouting

[2019-12-03 15:08] NyakudyaA commented on #166
I think we can go ahead and install if it's already in package manager

[2019-12-03 15:21] nilsnolde commented on #166
Nice, thx. I'll PR.

[2019-12-06 17:33] schulzsebastian opened #168 "docker-entrypoint.sh missing initdb for multiple databases"
Hey guys, you're doing a great job!

I've got a question about docker-entrypoint.sh file - what is the reason for the variable SINGLE_DB? Is something preventing from initializing all databases? I've done this workaround and I don't see any problems in my project (from 26th line of docker-entrypoint.sh):

[code]

[2019-12-06 17:41] NyakudyaA commented on #168
Hi @schulzsebastian  the reason why there is that variable `SINGLE_DB` is that when you create multiple databases ie `data, gis, sample` and then you also choose to run a SQL script against the database it ensures that the SQL script will be executed against the first database listed there which would be `data`.

With your approach, it basically means any script will be executed against all databa

[2019-12-06 18:00] NyakudyaA commented on #166
All done

[2019-12-06 18:00] #166 closed, assigned to nobody

[2019-12-07 00:26] schulzsebastian commented on #168
Ok, thank you for quick response, I understand. I used this for testing reason - same database for testing environment and the main one. Maybe it could be the extra feature.
Best regards!

[2019-12-07 00:26] #168 closed, assigned to nobody

[2019-12-08 15:31] firesoft-de commented on #162
Tomorrow? :wink:

[2019-12-08 17:23] NyakudyaA commented on #162
Will take a look tomorow

[2019-12-11 08:20] NyakudyaA commented on #162
@firesoft-de what version of the DB are you running against

[2019-12-12 14:44] asitemade4u opened #169 "QGis not displaying the tables in my docker-postgis 9.6-2.4"
Hi, and many thanks for this docker image + excellent documentation.

- I am running the very last version of QGis desktop "Zanzibar" on an Ubuntu machine.
- the docker Postgis  9.6-2.4 image is running on a server with a specific hostname: kdb.lan.<mydomain>
- From QGis i create a new connection (I tried both the manual way and with a `.pg_service.conf` file
- I check the connection with the **Te

[2019-12-12 17:40] firesoft-de commented on #162
``` psql (PostgreSQL) 9.6.11 ```

[2019-12-12 19:36] NyakudyaA commented on #169
Hi @asitemade4u This should work out as expected. But one thing I can think of that might be restricting your access if your `postgresql.conf` might be preventing you from doing so.

You can use the environmental variables
- ALLOW_IP_RANGE
- IP_LIST

These two environmental variables should help you open up the DB to QGIS.

On the other hand, if you could send the logs in QGIS of what is happening

[2019-12-12 20:50] asitemade4u commented on #169
Thank you so much for your quick response!

Do you have specific recommendations for the update to 12.0? I am
currently using this image: *kartoza/postgis:9.6-2.4*

On 12/12/19 2:36 PM, mazano wrote:

[2019-12-12 20:53] asitemade4u commented on #169
Here is what QGIS log says when I click the Connect button in the Data
Source Manager / Connections dialog:

Hope this helps.

Best,

Stephen

On 12/12/19 2:36 PM, mazano wrote:

[2019-12-12 20:54] NyakudyaA commented on #169
There are various methods for upgrading databases ie https://www.postgresql.org/docs/10/upgrading.html
https://stackoverflow.com/questions/24379373/how-to-upgrade-postgresql-from-version-9-6-to-version-10-1-without-losing-data

[2019-12-15 20:21] asitemade4u commented on #169
Hi,
As I am still stuck, here is what I have done:

1. I did a complete backup of the geospatial database
1. I uninstalled both the image and the docker container of kartoza/postgis on my local disk (I was using 9.6-2.4)
1. I created a new volume for the data

That way I am certain the slate is clean. Then:

1. I installed kartoza/postgis version 11
1. I restored the gis database
1. and I tried to

[2019-12-15 20:24] asitemade4u commented on #169
Just to help you diagnose the issue, here is what I see of the `localhost` server when connected with pgAdmin4:
![20191215_15-23-01](https://user-images.githubusercontent.com/11460106/70868445-f8c82d80-1f4e-11ea-8bbf-381b454a375e.png)

[2019-12-15 20:26] asitemade4u commented on #169
Also, I have found [this question](https://gis.stackexchange.com/questions/227052/when-trying-to-connect-to-remote-postgis-database-with-qgis-getting-error-rel) posed in **StackExchange** that seems relevant to this case, but I do not know how to apply its recommendations.

[2019-12-15 20:33] lswainemoore opened #172 "I used tag 11.0-2.5, but Postgis version appears to be 3.0"
thanks for setting this up!

[code]

am I wrong to expect `PostGIS_version()` should show 2.5?

[2019-12-15 20:55] NyakudyaA commented on #169
Can you send me the db dump or just a single schema to test with

[2019-12-15 20:56] NyakudyaA commented on #172
It should show 2.5 but will check tomorrow what is happening

[2019-12-15 22:42] lswainemoore commented on #172
thank you!

[2019-12-16 18:13] asitemade4u commented on #169
Would you mind sending a direct email address as this data is confidential.

Thx,
S.

On 12/15/19 3:55 PM, mazano wrote:

[2019-12-16 18:48] NyakudyaA commented on #169
Hi send it to admire@kartoza.com

[2019-12-18 17:29] tahnok opened #174 "Conflicting port referenced in docker-compose.yml in README"
The README states:

But the [docker-compose.yml](https://github.com/kartoza/docker-postgis/blob/develop/docker-compose.yml#L23) uses port 5432

[2019-12-18 17:33] NyakudyaA commented on #174
@tahnok Can you fix this, please. we accept PR

[2019-12-18 17:33] NyakudyaA commented on #169
hi @asitemade4u any progress with the DB

[2019-12-18 17:37] tahnok commented on #174
Sure thing, although I'm not sure which one "wins". Should the docker-compose.yml use 25432

[2019-12-18 18:26] asitemade4u commented on #169
Hi, I sent the full database two days ago on the email address you recommended. ..

⁣S.​

On Dec 18, 2019, 12:33, at 12:33, mazano <notifications@github.com> wrote:

[2019-12-18 18:57] NyakudyaA commented on #174
@tahnok the docker-compose should use 25432

[2019-12-18 18:58] NyakudyaA commented on #169
Ooh hadn't fully checked my mails. Just saw it now

[2019-12-19 03:10] asitemade4u commented on #169
Also, the user = docker and the password = ouie

⁣S.​

On Dec 18, 2019, 13:58, at 13:58, mazano <notifications@github.com> wrote:

[2019-12-19 17:48] moldhouse opened #175 "raster2pgsql missing"
raster2pgsql seems to be missing in usr/lib/postgresql/12/bin when installing.

[2019-12-19 18:07] NyakudyaA commented on #175
@moldhouse raster2pgsql is not installed by default in the image. We try to keep the image lightweight and not install a lot of things. If you really need it you need to install postgis into the container or image whichever is more preferable for you

[2019-12-20 10:56] moldhouse commented on #175
Ok thanks, I understood that raster2pgsql would come with every distribution of postgis by default.
But maybe I'm misunderstanding the way that Postgis is installed in this docker image?

[2019-12-20 11:02] NyakudyaA commented on #175
We install the following https://github.com/kartoza/docker-postgis/blob/develop/Dockerfile#L22

But raster2pgsql can only be installed by running `apt-get install -y postgis`

[2019-12-20 12:41] moldhouse commented on #175
Ok thanks!

[2019-12-20 12:45] #175 closed, assigned to nobody

[2019-12-21 01:53] yosukefk commented on #172
I see the same, and also with `select postgis_full_version();`, it doesn't seem like RASTER support is not enabled...

[2019-12-21 12:29] #174 closed, assigned to nobody

[2019-12-21 12:30] NyakudyaA commented on #169
Cannot replicate using given database, will interact in email

[2019-12-21 12:30] #169 closed, assigned to nobody

[2019-12-21 12:32] NyakudyaA commented on #152
Please try to migrate to the stable recent version of postgis which is 12.0

[2019-12-21 12:32] #152 closed, assigned to nobody

[2019-12-21 12:34] NyakudyaA commented on #151
@malone081021 cannot replicate with databases running on a separate host. please reopen if the issue persist. Try to use the latest image postgis:12.0

[2019-12-21 12:34] #151 closed, assigned to nobody

[2019-12-21 12:41] NyakudyaA commented on #172
I have checked but can seem to see why the wrong version is being shown. @yosukefk is there any postgis function in 3 that is running in this version.

I tried to run the following https://www.postgresql.org/docs/12/ddl-generated-columns.html
but it gives me an error.

Postgis raster can be installed with the environment variable MULTIPLE_EXTENSIONS on runtime

[2019-12-21 15:43] yosukefk commented on #172
Thanks, the MULTIPLE_EXTENSIONS env variable, i will give it a shot today, and come back here.  However,...

I tried to see if i can move to PostgeSQL 12 now.
At this point I don't want to update to Postgresql12, there seems to be problems caused by deprecated functionality like one this example https://github.com/sqlalchemy/sqlalchemy/issues/4463 , that can be solved, but version dependency of va

[2019-12-21 15:48] NyakudyaA commented on #172
What I meant is that it shows version 3 but it still is actually version 2.5 in that image

[2019-12-21 15:50] yosukefk commented on #172
Is this what you believe, or is this your hypothesis that you want to test?

[2019-12-21 16:03] NyakudyaA commented on #172
I tried to run the following in the image
[code]
Which is apparently listed in the changelog for 12 as the new goodies and it gave an error.
But still, the version should still show 2.5

[2019-12-21 16:56] tonychen0716 commented on #46
@kofronpi how to install shp2pgsql on my macOS,  thanks

[2019-12-21 18:35] yosukefk commented on #172
I see your point,

This is what I get from the layer for kartoza/postgis:11.0-2.5, Image ID366b8ce10e5a, Created 2019-08-01T07:03:06.580147038Z

<pre>
gis=# select version();
                                                     version
------------------------------------------------------------------------------------------------------------------
 PostgreSQL 11.4 (Debian 11.4-1.pgdg100+1) on x86

[2019-12-21 19:38] kofronpi commented on #46
@tonychen0716  I don't know, I was using ubuntu at the time ?

[2019-12-21 19:57] NyakudyaA commented on #172
Hi @yosukefk i will fix this I think I have a clue on how to do it

[2019-12-21 19:59] NyakudyaA commented on #46
I think this is all part of postgis installation. Depends if you installing with homebrew or enterprise DB

[2019-12-22 00:52] yosukefk commented on #172
@NyakudyaA , It turned out that for my application, the only thing I have to "fix" was to enable raster support.  Everything  else seems to be fine with PostgreSQL11 and PostGIS3.  So in my Dockerfile, I did, near toward the end,

[code]

I am wondering though, do you know if this causes trouble if raster is enabled compile time?   Or can i just keep this way and error can be safely ignored?

[2019-12-22 23:55] moldhouse opened #179 "Extensions only installed to specified DB"
When using POSTGRES_MULTIPLE_EXTENSIONS in docker to add extensions, they are only installed in the db 'POSTGRES_DBNAME'. If for testing purposes, a database is created by a template, POSTGRES_MULTIPLE_EXTENSIONS are not available.

[2019-12-23 08:31] NyakudyaA commented on #172
@yosukefk I think this could be an upstream issue from PostgreSQL. I am going to close this issue.
I have tried to install PostGIS on different distros ie Debian:stretch, Debian:buster and ubuntu:18.04 which all retain the same values. I do no think that there is anything in our configurations that stipulates the installation of PostGIS 3.

![install](https://user-images.githubusercontent.com/2510

[2019-12-23 08:31] #172 closed, assigned to nobody

[2019-12-23 08:35] NyakudyaA commented on #172
Hi I have pushed upstream a new image. It should be built in a couple of minutes.

It should by default have pg_raster installed. Using the docker-compose

[code]

You do not need to rebuilt the image to activate extensions. When the container starts it basically installs the extensions if they are missing

[2019-12-23 08:38] NyakudyaA commented on #179
@moldhouse the template method was an old way to install and create database. We now favour the createdb command. So if you need to test with a different database why do not just use  `POSTGRES_DBNAME` where you specify a lot of different databases.

If you still think this could be a useful feature we welcome a PR

[2019-12-23 13:42] moldhouse commented on #179
Thanks for replying. I think the question is, wether it would make sense to install POSTGRES_MULTIPLE_EXTENSIONS to template1 by default as some frameworks generate test databases of it or if that kind of usage is not favoured.

[2019-12-23 13:42] #179 closed, assigned to nobody

[2019-12-23 14:09] NyakudyaA commented on #179
It all depends. If you have a framework that generates test database against template1 and you can make a PR saying etc Django requires this etc we can review it . We mainly use frameworks that allow us to specify a target DB for test

[2020-01-02 20:34] xermus opened #184 "Please provide import example for docker-compose"
I am using docker-postgis using docker-compose. The problem is that I could not figure out how to import one (or many) .sql files after the container(s) have been provisioned.

Can someone tell me how to accomplish this?

[2020-01-02 20:52] NyakudyaA commented on #184
You just need to mount the sql file as a volume or the whole folder

Volume:
- ./setup-db.sql:/docker-entrypoint-initdb.d/setup-db.sql

[2020-01-02 22:19] xermus commented on #184
Thanks, it works.

[2020-01-02 22:19] #184 closed, assigned to nobody

[2020-01-11 16:14] murbanowicz opened #185 "Alpine?"
By any chance, could you provide alpine builds?

[2020-01-11 17:24] NyakudyaA commented on #185
Hi @murbanowicz we would love to do so. If you are willing you could take a dive into it and we can review your PR. It shouldn’t be that difficult

[2020-01-21 14:48] shano-mapstand opened #188 "ignore"
Ignore

[2020-01-21 14:49] #188 closed, assigned to nobody

[2020-01-22 03:53] ahm001 opened #189 "I wonder if there is a way I could use pg_resetxlog in this docker"
Found that my psql hasn't started normally, and here is the log

[code]

According to [this guidance](https://www.askmaclean.com/archives/postgresql-error-panic-could-not-locate-a-valid-checkpoint-record.html), perhaps I have to run `pg_resetwal` in the docker. but unfortunately I didn't found it in this docker,which shows me
[code]

Is there a way I could use it, or I could install it in this doc

[2020-01-22 03:57] NyakudyaA commented on #189
Hi @ahm001 you can add a bash script and mount it as a volume into entrypoint scripts. This will install all the extra staff you need when running the image

[2020-01-22 07:07] ahm001 commented on #189
Great! Thanks for your support!
I used the postgres docker to load this volume and fixed this problem!

[2020-01-22 07:07] #189 closed, assigned to nobody

[2020-01-27 12:15] schulzsebastian opened #196 "Multiple databases pg_cron problem"
After last commit (https://github.com/kartoza/docker-postgis/commit/166e7aeb1ae6371aa71e7cb667e13529a3356db8) I've got an error when starting the containers for the first time (without volume):

[code]

Config is basic, however environmental variable POSTGRES_DBNAME is set to "db,db-testing". I suspect that the case of many databases has not been tested, is that correct?

[2020-02-03 04:25] NyakudyaA commented on #196
This has been fixed in develop

[2020-02-03 14:28] pslh opened #198 "Inconsistency between docker-entrypoint.sh and Dockerfile (version 11.0.25)"
In https://github.com/kartoza/docker-postgis/blob/11.0-2.5/docker-entrypoint.sh
we read the comment:
``# This script will run as the postgres user due to the Dockerfile USER directive``

However there is no ``USER`` directive in the ``Dockerfile``:
https://github.com/kartoza/docker-postgis/blob/11.0-2.5/Dockerfile

Our tests suggest that the entrypoint script is in fact executed as ``root``.

We h

[2020-02-03 14:50] NyakudyaA commented on #198
Hi @pslh Will check it out and rectify

[2020-02-11 14:14] Dylan-DutchAndBold opened #199 "Default wal_level should probably not be hot_standby"
We ran into the issue today that our database was failing because the `pg_wal` directory was eating up all disk space voor a small ~20 mb database. It's a database that handles a lot of i/o but remains small. Researching into the issue I noticed `wal_level` was set to `hot_standby`. Which seems to be a old mode for recovery but is now mapped to `replica`. However I guess for some people it would b

[2020-02-11 14:30] NyakudyaA commented on #199
Thanks for writing this. I will investigate when i have some free moment but you can also take a stab at it and will review your PR

[2020-02-11 14:32] Dylan-DutchAndBold commented on #199
Sure, will do, should not create any breaking changes anyway.

[2020-02-12 13:06] yamroz opened #201 "Collation always set to C.UTF-8"
Hello,

I have a problem - I need the database to run with en_US.UTF-8 collation and as far as I understood from documentation this should be the defaults setting. But for unknown reason this is not the case - database always reports as C.UTF-8.
I checked it with 9.6-2.4 image and 12.0

Is there any chance to check what is happening there?

Thank you!

[2020-02-13 11:20] UlrichKnaack opened #202 "Language settings are not applied"
Hello,

I want to create a PostGIS database with german charset "de_DE", but I get charset "en_US".

I'm using this docker-compose.yml:

[code]
but I get this messages when performing docker-compose up:

[code]

OS: macOS Catalina

[2020-02-14 08:38] vladimirovii opened #203 "database empty"
Not keep database data after docker down!

You write

Config:
[code]

[2020-02-14 08:42] NyakudyaA commented on #203
Hi @vladimirovii since you are using docker volumes you need to make sure that you do not accidentally remove it with a docker prune, I suggest you keep a DB dump for your DB

[2020-02-15 16:31] #199 closed, assigned to nobody

[2020-02-15 16:32] NyakudyaA commented on #162
Is this still an issue?. Please try out the shiny 12 image

[2020-02-15 16:33] #196 closed, assigned to nobody

[2020-02-15 16:37] #202 closed, assigned to nobody

[2020-02-15 16:38] #201 closed, assigned to nobody

[2020-02-15 16:38] NyakudyaA commented on #201
Please test out with the tag latest to see if it’s working

[2020-02-15 16:40] NyakudyaA commented on #202
@UlrichKnaack please test out the image latest

[2020-02-15 16:40] #162 closed, assigned to nobody

[2020-02-15 17:48] UlrichKnaack commented on #202
I‘ll try tomorrow. Thank you for reacting  quickly

[2020-02-18 05:28] imranity opened #205 "ERROR: type geometry does not exist"
with `POSTGRES_MULTIPLE_EXTENSIONS=hstore` set, im getting :
[code]

[2020-02-18 06:01] NyakudyaA commented on #205
Hi, @hayderimran7 You can't only have hstore as an extension. You will still need PostGIS. Maybe we need to update the description to mention that

[2020-02-18 08:03] UlrichKnaack commented on #202
it works. Thank you :-)

[2020-02-19 21:30] Andrew-Chen-Wang commented on #185
@murbanowicz Any updates? @NyakudyaA can you possibly do it? Alpine takes up a lot less space than the current Debian (I think?) version.

I've been developing in cookiecutter-Django's repository for quite some time, but never touched the Docker configurations.

Edit: Sorry, cookiecutter-Django is a huge setup for deploying a web application. If you check out their compose files ({{ cookiecutter.s

[2020-02-20 19:49] #205 closed, assigned to nobody

[2020-02-21 10:03] default-work opened #207 "EXTRA_CONF not working for 9.6-2.4"
[code]

[code]

[code]

[2020-02-21 10:17] NyakudyaA commented on #207
Hi, @funcelotwork That has not yet been ported to that branch.  Currently, it's in 11 and 12 image
Even the POSTGRES_MULTIPLE_EXTENSIONS doesn't exist in 9.6

[2020-02-21 10:42] default-work commented on #207
@NyakudyaA i added EXTRA_CONF to 9.6-2.4 branch, check it out please

[2020-02-21 12:45] NyakudyaA commented on #207
@funcelotwork please fix the failing test.

[2020-02-21 16:54] L-U-C-K-Y opened #210 "Updated image: kartoza/postgis:12.0 breaks database - Permission denied"
Hi all

Ouroboros picked up the latest image on the 12.0 tag and the container is running into the following error:

(I'm creating a new user on startup too)

[code]

Is anyone also experiencing this problem?

My docker-compose:

[code]

[2020-02-21 17:13] NyakudyaA commented on #210
hi @lucbas Let me take a quick look. The travis test passed right,

[2020-02-21 17:20] NyakudyaA commented on #210
Hi @lucbas I have just tested quickly and it seems that it is fine with me.
![new-image](https://user-images.githubusercontent.com/2510900/75056054-dd454a00-54de-11ea-9315-e853e4187212.png)

![db-running](https://user-images.githubusercontent.com/2510900/75056140-0d8ce880-54df-11ea-91f7-ec1c9ac52bf1.png)

I, however,  think the issue could be because of the secrets. Can you use environment variabl

[2020-02-21 17:34] L-U-C-K-Y commented on #210
Just tried to remove the secret and deleted the bind database folder in the development environment, so essentially starting from scratch, but still the same error:

![image](https://user-images.githubusercontent.com/14868134/75056811-02828a00-54d8-11ea-8ead-aa72b213c442.png)

What id does the postgres user have?

`docker exec -it <postgres_container> id postgres`

[2020-02-21 17:46] L-U-C-K-Y commented on #210
I just found out that I'm able to start the image if I change the bind mount inside the container.
Wheras I had to explicitly bind the volume to ` - "postgres:/var/lib/postgresql"`, I can start the container now with  `- "postgres:/var/lib/postgresql/data"`.

[code]

Can you please share your docker-compose file?

Edit:
I can start the server and the logs show that the predefined databases are cre

[2020-02-21 18:57] NyakudyaA commented on #210
@lucbas do you get the same error if you do not mount a volume ?. I will test using your compose file and revert .

I think this is more a mac issue than anything you can look at the reference here
https://docs.docker.com/compose/compose-file/#domainname-hostname-ipc-mac_address-privileged-read_only-shm_size-stdin_open-tty-user-working_dir

![issue](https://user-images.githubusercontent.com/251090

[2020-02-22 06:20] default-work commented on #207
@NyakudyaA I did not touch Docker compose, so it is not my fault, this is your image that is failing on CI/CD. I suppose you have to recheck logs or fix environments, cause i did not touch Docker compose at all. If you recheck you CI/CD env, then probably it will compile

[2020-02-22 07:05] NyakudyaA commented on #207
Hi @funcelotwork When you make a PR it should run until the test past so that I can merge them. The changes you added did not pass. If you are not in a hurry for this feature I will take a look during my free time

[2020-02-23 20:57] default-work commented on #207
@NyakudyaA chechout PR, please https://github.com/kartoza/docker-postgis/pull/208

[2020-02-23 21:15] NyakudyaA commented on #207
Will do first thing in the morning

[2020-02-24 07:16] #207 closed, assigned to nobody

[2020-02-24 10:44] #203 closed, assigned to nobody

[2020-02-24 15:55] NyakudyaA commented on #210
@lucbas I have tested this on ubuntu and mac. On Mac, I experienced the issue the first time because I had docker volume that was hanging around in the background. I then removed the volume and restarted the stack and no error. I could even use host mounted volumes.

[2020-02-24 15:55] #210 closed, assigned to nobody

[2020-02-24 15:57] NyakudyaA commented on #185
Hi @murbanowicz you can take a look at the new image which uses Debian slim. Alternatively, you can get in touch with us we can come up with a small support contract for us to work on this as this has been on our radar but we have no time or resources to  jump into it asap

[2020-02-25 05:49] #31 closed

[2020-02-25 07:36] vladimirovii commented on #203
If you use the original postgres: 12.2-alpine image, the data is saved in the folder of the same name with the "name" parameter (/var/lib/docker/volumes/"name")
In the case of using the image Kartoz / Postgis: 12.0
data is saved every time in a new folder, automatically generated, the "name" parameter is ignored

[2020-02-25 07:42] Befisch commented on #210
I am running the postgis DB in a kubernetes environment and after the update it wont work at all anymore. Even from an empty volume. Therefore I will build the image from the old 12.0 commit. Too bad you didn't version the changes, but I am still very thankful for your products.

[2020-02-25 07:50] NyakudyaA commented on #210
Hi @Befisch what errors are you experiencing? We have Travis to check if a PR breaks things. I tested this on mac, ubuntu using docker and it all works. If you show your errors we could improve the image

[2020-02-25 08:09] Befisch commented on #210
Hi @NyakudyaA
`initdb: error: could not create directory "/var/lib/postgresql/12": Permission denied

creating directory /var/lib/postgresql/12/main ...`

This is happening on the already built database volume and also on an empty one. I suspect it to be the "VOLUME" in the updated Dockerfile.

[2020-02-25 08:21] NyakudyaA commented on #210
I will setup a Kubernetes cluster and test.
just to show you we have test running for a PR
![db-checks](https://user-images.githubusercontent.com/2510900/75228248-7d89c000-57b8-11ea-8338-125f5a4bbe30.png)

[2020-02-25 09:20] Camo2601 commented on #210
I have no insight into what exactly you were testing, but maybe the test was just not extensive enough. Also, I really don't know the reasoning behind updating an already existing version tag. Even if it's a really minor change, you should have at least bumped the version to a new minor or patch release, just to be super safe. Maybe you could keep that in mind in the future, I would really appreci

[2020-02-25 12:31] rsurgiewicz opened #215 "docker cannot mount postgres data in new image"
Hi,
I have a postgres (12.0) directory used with previous image `kartoza/postgis` (image ID `e23f3b73c5ed`) but today I tried to update a `kartoza/postgis:latest` but it refuses to use existing data directory and tries to create one from scratch.

Works as a charm with previous image release...

`Setup master database
Initializing Postgres Database at /var/lib/postgresql/12/main
....
initdb: error

[2020-02-25 12:39] NyakudyaA commented on #215
If you have an already existing database but need to upgrade the image add the environment variable `EXISTING_DATA_DIR=true` and then run your compose.

In the meantime, I am going to tag the old image 12.0 and the new image 12.1

[2020-02-25 12:42] rsurgiewicz commented on #215
Hi,
thanks for quick reply. I've tried to add env variable so my `docker-compose.yml` looks like the following but still postgres tries to initialize DB :(

[code]

[2020-02-25 12:45] NyakudyaA commented on #215
Hi, Can you pull again to see if there is a new image I built in the morning

[2020-02-25 12:48] rsurgiewicz commented on #215
Actually I think I'm on the latest
[code]

[2020-02-25 12:50] NyakudyaA commented on #215
Let me test quickly but just give me a couple of minutes and you can pull the 12.0 image again which is the last stable one that was working and we can continue to test the 12.1 image which is building now

[2020-02-25 12:50] rsurgiewicz commented on #215
Ok sure, thanks,
the one that is working perfectly fine for me is
[code]

[2020-02-25 13:01] NyakudyaA commented on #215
Please pull again and test the 12.0 image

[2020-02-25 13:30] rsurgiewicz commented on #215
Seems to work perfectly fine with 'latest' tag:`12.0`.

Thank You for quick fix and all the help provided!
Fantastic work from Your side.

BTW. So the next upcomming release would be 12.1?

[2020-02-25 14:20] NyakudyaA commented on #215
Yes

[2020-02-25 14:20] #215 closed, assigned to nobody

[2020-02-25 15:56] rolep commented on #172
Had same issue. Everything worked ok and I thought having newer version is better, but __*it misguides with image tag version*__.

`postgis-3` is probably installed with one of dependencies as most recent version. Correct version can be installed manually (`CREATE EXTENSION postgis WITH VERSION '2.5'`), however it complicates things and is not expected behavior if version is in the tag.

As I am u

[2020-02-26 10:02] FanaticFiz commented on #210
Hi, I test just now on [https://labs.play-with-docker.com/](url)
and have this issue
![image](https://user-images.githubusercontent.com/3994663/75333964-193e2d80-5898-11ea-8e7b-b1464dd6926f.png)

[2020-02-26 10:05] FanaticFiz commented on #210
and version kartoza/postgis:12.1 with same

[2020-02-27 15:04] Andrew-Chen-Wang commented on #185
@NyakudyaA Take a look at the postgis/postgis tag. It used to be under mdillon but the Postgis organization took over about a week ago. They offer Alpine based for PostgreSQL 10 I believe. Recommend you take a look at their setup as I've been using their's for a bit now.

[2020-02-28 04:00] vladimirovii commented on #203
Change:
[code]
ON:
[code]
And works!

[2020-02-28 05:30] NyakudyaA commented on #210
@lucbas @FanaticFiz @Camo2601 i have fixed this in the image 12.1 and latest Postgres. Please test and revert to me

[2020-02-28 10:12] ahm001 commented on #210
@NyakudyaA I also meet this problem in the version 11.0-2.5
The version 12.1 could start normally.

For that I could not use some of the feature in version 12.1.
Could you fix this problem in version 11?

[2020-03-03 08:20] zingi opened #222 "Env variable PG_WAL_KEEP_SEGMENTS is ignored."
In the **setup-conf.sh** the variable **wal_keep_segments** is first set like this:
https://github.com/kartoza/docker-postgis/blob/a7244db7f3405d976b8f150043e2ff3805bfd5aa/setup-conf.sh#L26
but afterwards it is set to a hardcoded value:
https://github.com/kartoza/docker-postgis/blob/a7244db7f3405d976b8f150043e2ff3805bfd5aa/setup-conf.sh#L30

[2020-03-03 08:37] zingi commented on #222
If somebody needs a temporary fix, you can add this line to your **Dockerfile**:
[code]
it deletes the line with the hardcoded value.

[2020-03-03 09:11] NyakudyaA commented on #222
Rather make a PR and fix this quickly than a work around

[2020-03-03 10:59] zingi commented on #222
PR: https://github.com/kartoza/docker-postgis/pull/223

[2020-03-06 08:49] bozhidarc opened #224 "Building image from 9.5-2.2 fails"
I tried to build an image directly from the repo, branch 9.5-2.2 but I received the following error.
[code]
What I can see in the Docker file is that it depends on `debian:stable` which is Buster at the moment, but this version doesn't include PostGIS 2.2 anymore.

[2020-03-06 08:58] NyakudyaA commented on #224
@bozhidarc Is there any reason you still want 9.5 over the latest 12 or even 11.

[2020-03-06 09:03] #222 closed, assigned to nobody

[2020-03-06 09:06] bozhidarc commented on #224
I need it for a legacy project.

[2020-03-06 14:06] NyakudyaA commented on #224
@bozhidarc We do maintain this docker repo as a community project and our time is limited on this. If you want us to take a look at this I encourage you to visit https://kartoza.com/en/shop/product/support/ where you can get a small support contract and we will help you build the image

[2020-03-09 21:08] jcachat opened #225 "Please consider changing your tag names"
The reason for my request is this: I run an application in Google Cloud using GKE.  Google likes to randomly restart VMs for maintenance.  Early Sat morning, they did this to the VM running my Postgres instance which is configured to use the "11.0-2.5" tagged image.

This has happened multiple times with no issue.  But for whatever reason (I am still investigating and will post separately if neces

[2020-03-10 00:12] jcachat opened #226 "Newer docker is defaulting to erasing data in older docker!"
On 2/15, a change was made to setup_database.sh that changed how it was determined if the data directory should be initialized from a check to see if it was empty (or didn't exist) to just checking to see if it contained a file named ".postgresql.init.lock".

Then on 2/25, that check was prevented by checking for the new environment variable EXISTING_DATA_DIR.

Did anyone consider that people didn

[2020-03-10 04:24] NyakudyaA commented on #225
Hi @jcachat the main reason why we that has been happening is because of the automated docker builds that we setup. So each time you push to the same repo it will force a rebuild of the same image  in docker hub. To get around once an image has been build we will keep it that way and subsequent builds will be tagged with the version number. This is already in place with the 12 image. For the 11 im

[2020-03-10 09:49] lucernae commented on #226
Huh, this actually happens with me too!
I thought I made a wrong setup in my own server myself, but it turns out coming from entrypoint script then.

@NyakudyaA , I think he had a point there. That env variable by default doesn't exists for people who just upgrade the image. So it shouldn't default to deleting the data dir.
I think we should prioritize this issue. I will help make new pull request

[2020-03-10 09:54] lucernae opened #227 "Entrypoint script is hanging if we list existing table to stdout"
I encountered that the entrypoint stops (not just the log, but the executions is hanging), whenever there is a line like this:

```psql -l```

I propose that these lines be executed in a wrapper so the line returns the correct result.
Most of the time, these lines are used to check that the database exists or up, so the output was not necessary. We just want to know the exit code.

[2020-03-10 12:43] NyakudyaA commented on #226
Hi @lucernae realized that as well,  I think the fix was to solve https://github.com/kartoza/docker-postgis/issues/202 which had to reinitialize the DB with the right cluster permisions. So for now I have maintained the images as they were 11.0-2.5 and 12.0 with the old settings and published new images 12.1 and 11.5-2.5

[2020-03-12 12:51] slhck commented on #225
I would just like to chime in and support this request. I was hit by the same issue, luckily just in a development environment, but for sure it is unexpected, if not dangerous, to push breaking changes (particularly ones that destroy data per default) under the exact same tag name.

Please consider pushing revisions at least with different patch versions, such that end users can properly pin the r

[2020-04-04 02:13] TimMcCauley opened #229 "Using pg_prewarm"
I am trying to understand if I am able to use the `pg_prewarm` extension with this very helpful image. I can enable the extension it the database itself and I can also make sure it is a preloaded library:

[code]

But when I run [this simple example](https://blog.dbi-services.com/pre-warming-the-buffer-cache-in-postgresql/) it has no effect. Every time I restart the container and run the query it

[2020-04-06 06:15] NyakudyaA commented on #229
@TimMcCauley this should work as you have done. I will look into it and revert

[2020-04-06 12:22] pmav99 commented on #198
This is true also in 12.1 release. I assume in 12 too.

Nevertheless, `setup-conf.sh` modifies `sysctl` so it needs to be run as root:
https://github.com/kartoza/docker-postgis/blob/f535c58085de916ad2bf0faa2d865d4a415644ef/setup-conf.sh#L53-L56

Perhaps an option would be to install `gosu` in the image and use it drop root privileges later on.

[2020-04-11 13:27] NyakudyaA commented on #226
This has been fixed in develop and image 12.1

[2020-04-11 13:27] #226 closed, assigned to nobody

[2020-04-11 13:27] NyakudyaA commented on #227
Fixed

[2020-04-11 13:27] #227 closed, assigned to nobody

[2020-04-11 13:28] NyakudyaA commented on #225
Fixed the main issues and added a clear description

[2020-04-11 13:28] #225 closed, assigned to nobody

[2020-04-14 17:00] #229 closed, assigned to nobody

[2020-04-14 18:30] TimMcCauley commented on #229
Thank you @NyakudyaA !

[2020-04-14 22:39] efrees opened #232 ""No such file or directory" error when executing against latest image version"
**Problem**
My team has a build that started failing shortly after the release to Docker Hub today (2020-04-14). The problem is the command below, which uses a relative path to locate a script that was copied into the container with `docker cp`.

[code]

This gives the error `psql: error: ConfigureDatabase.sql: No such file or directory`

**Version**
The command works on tag `:12.1`, but fails on

[2020-04-15 08:48] lucernae commented on #232
Thank you for submitting this.
We changed `WORKDIR` due to refactoring entrypoint related scripts.
At the moment, we haven't decided yet if this is a breaking changes or not. We can keep the workdir in previous location (root directory) and keep the scripts in `/scripts`  folder. But any downstream scripts that use entrypoint scripts should then refer to this locations in future tagged image. (Or

[2020-04-15 13:45] efrees commented on #232
Using an absolute path works for me (and I agree it's clearer).
I'm also glad to know about the documented entrypoint pattern, which may come in handy for future cases. I've missed that before. Thanks for the link!

[2020-04-19 19:37] betolink opened #235 "I always get a "database system was not properly shut down; automatic recovery in progress""
I tried using v12.0 and v12.1 and in both cases I cannot reuse the data directory after populating it.
I'm getting this error after I CTRL+C a docker-compose stack.

[code]

[code]
I'm not sure if the container recreates the directory because of this error or a missing flag maybe related to https://github.com/kartoza/docker-postgis/issues/226

[2020-04-19 19:49] NyakudyaA commented on #235
This error is mainly due to the replication settings within the image. You can ignore it because the replication will always catch up after you shutdown the database and restart it

If you use the 12.0 image you should not be needing the env variable `EXISTING_DATA_DIR: "true"`
Can you read the following https://github.com/kartoza/docker-postgis#cluster-initializations. This should apply to the 12

[2020-04-19 20:17] betolink commented on #235
Interesting, it got fixed when I removed `POSTGRES_DB: gis` from the docker-compose file. I haven't looked at the db setup scripts but maybe there is something that forces the recreation of the data directory if this env variable is defined? thanks for the quick response.

[2020-04-19 20:17] #235 closed, assigned to nobody

[2020-04-19 20:22] betolink commented on #235
Oh it gets more interesting, I don't think that env variable had anything to do with this, I was having this issue when I used an unlogged table. So Maybe the CTRL+C was not properly terminating postgres and unlogged tables are not recreated after a db crash. Related: https://stackoverflow.com/questions/29872546/after-i-restart-postgresql-all-my-tables-are-empty-zero-rows

[2020-04-21 08:58] nilsnolde opened #236 "pgrouting not in 12.0 branch anymore"
I [contributed](https://github.com/kartoza/docker-postgis/pull/167) pgRouting v3.x a few months back, but it seems it didn't survive a later re-arrangement in `Dockerfile`, it was probably forgotten in this commit:
https://github.com/kartoza/docker-postgis/commit/3cec047fcbb0efeacbaa0bc30d6de70de1ca94c3#diff-3254677a7917c6c01f55212f86c57fbf

Can we add it again?

[2020-04-21 09:32] lucernae commented on #236
Yes, I think so too, CC @NyakudyaA , will it work if we just put pgrouting in POSTGRES_MULTIPLE_EXTENSION?

@nilsnolde , if you are okay with it, can you contribute a scenario that uses pgrouting/example of it.
We recently tries to make a standardized scenario tests like [this](https://github.com/kartoza/docker-postgis/tree/develop/scenario_tests):
Many people now uses our image differently, we wa

[2020-04-21 09:58] nilsnolde commented on #236
Sure, if you're ok with this for the test:
- have custom `docker-compose.yml` including pgrouting in `POSTGRES_MULTIPLE_EXTENSIONS`
- run a python script against it checking the `pg_available_extensions`

?

[2020-04-21 10:19] NyakudyaA commented on #236
pgrouting will not break anything. In order to to use that POSTGRES_MULTIPLE_EXTENSION you will need pgrouting to be installed. I think you should make it a default extension installed in https://github.com/kartoza/docker-postgis/blob/develop/scripts/env-data.sh#L173. we do not currently have test for extensions maybe it will be nice to add and test if the mandatory extensions are working fine

Ca

[2020-04-21 10:22] NyakudyaA commented on #236
You can just copy the example test in scenario test, modify it and add the env variable for extension in the docker compose

[2020-04-21 10:25] nilsnolde commented on #236
Ok, will later add pgrouting to install section, default extensions, upate readme etc. PR to `12.0` or `develop`?

Cool, thanks @NyakudyaA  for the testing tip.

[2020-04-21 10:28] NyakudyaA commented on #236
PR to develop and then we can merge to 12

[2020-04-23 09:36] nilsnolde opened #237 "Mention locales in README"
While building the `manual-build` for writing the tests, I realized that by default **all** possible locales are installed, which takes forever and consumes lots of unnecessary space.

Can we either
- mention in the README prominently that `scripts/locale.gen` needs to be adapted to whatever one wants to have
- ~~make that a build arg, e.g. a list of locales, like `POSTGRES_MULTIPLE_EXTENSIONS`~~

[2020-04-23 09:37] nilsnolde commented on #237
And forgive me in case it's actually in the README and I just didn't catch it..

[2020-04-23 10:13] NyakudyaA commented on #237
Do you have any idea how we could activate the different locales as env variable because they need to be installed on the host.

It is not mentioned in the readme about building locales. Maybe you could explain that a user can modify the locale.gen during building but this will affect him/her on how to initialize them with env variables.

Alternatively, we can move the logic to entry point and onl

[2020-04-23 10:28] nilsnolde commented on #237
Yeah, that's why I crossed out the second alternative. I'd be easy if it was just one ID (like COLLATION), but it's also the ISO code (or whatever that is..).

So, I can put it in the README. Anyone changing the collation or similar should be aware that the host needs the specified locale, I think that'd be an alright approach for now.

If anyone has an idea how to integrate this better, all ears:

[2020-04-23 12:10] #236 closed, assigned to nobody

[2020-04-23 12:10] #237 closed, assigned to nobody

[2020-04-24 06:59] nilsnolde commented on #237
Oops, this wasn't supposed to be closed.. the line `I'll fix #237 when this is merged.` apparently triggered it. stupid..

Anyways, I just created another PR for that.

[2020-04-27 09:07] lucernae commented on #232
I will close this then.

[2020-04-27 09:07] #232 closed, assigned to nobody

[2020-04-27 09:24] lucernae opened #241 "Bug when creating new datadirectory."
Scenario test passed because the `DATADIR` environment variable was overwritten, but the scenario itself fails. Pretty stupid of me...

[2020-04-27 12:08] lucernae opened #243 "[RFC] Cluster Upgrade helper"
I would like to add functionality to upgrade cluster from previous major version to current major version.

I imagine we can use a stateless container to perform the upgrade like this:

[code]

# Proposed implementations

We are going to use postgresql common upgrade procedure, which is using `pg_upgradecluster`.
The upgrade process is going to be wrapped in `/scripts/cluster_upgrade.sh`.
What the

[2020-04-27 14:37] NyakudyaA commented on #243
Looks good for me @lucernae .

Just a note that they are various upgrade options.

 I haven't done a comparison of what the disadvantages and advantages are.

I have also used the `postgis_restore.pl` to do a DB upgrade

[2020-04-28 08:12] lucernae commented on #243
I see, so upgrading the database doesn't necessarily upgrade postgis related objects?

[2020-04-28 08:39] NyakudyaA commented on #243
If you upgrade the cluster it does everything.

https://www.postgresql.org/docs/12/upgrading.html

postgis_restore.pl uses a normal pgdump which might work well with the pg_backup containers that already produce the `.dmp`. So I assume we could have two recipes.
* Using pg_clusterupgrade
* Using postgis_restore.pl which uses the dump from the pgbackup images

[2020-04-28 15:01] #241 closed, assigned to lucernae

[2020-04-28 18:40] EricYang11 opened #244 "run container with environment variables - question"
I'm trying to run a container with a username, password and extensions using the following command:
docker --run postgis --restart=always -p 5432:5432 -d -t kartoza/postgis:12.0 -e POSTGRES_USER=admin -e POSTGRES_PASS=password -e POSTGRES_MULTIPLE_EXTENSIONS=postgis,hstore,postgis_topology,postgis_raster,pgrouting

but I don't think I've done the environment settings properly because when I try to

[2020-04-28 18:47] NyakudyaA commented on #244
-e POTS_PASS where did that come from. Can you try to use the provided docker-compose for an example

[2020-04-28 18:48] EricYang11 commented on #244
Sorry, that was a typo

[2020-04-28 18:53] NyakudyaA commented on #244
Are you not passing other variables that are not supposed to be there. Because GSSAPI seems like an error related to initidb

[2020-04-28 18:56] EricYang11 commented on #244
could you give me a sample of what a proper run container command should look like with the variables

[2020-04-28 19:08] NyakudyaA commented on #244
I think the 12.0 image doesn’t have pgrouting if I am correct. Try to run it using kartoza/postgis which will use the latest image

[2020-04-28 19:09] EricYang11 commented on #244
So I just take off the :12.0 and pgrouting from the command and that's what it should look like?

[2020-04-28 19:17] EricYang11 commented on #244
Oh, I forgot to mention that the error prompt is from pgadmin when I'm trying to connect

[2020-04-28 19:34] NyakudyaA commented on #244
What version of pgadmin, then maybe you need to search the error on stack exchange about pgadmin error

[2020-04-28 19:37] #244 closed, assigned to nobody

[2020-04-29 18:42] NyakudyaA opened #245 "Run the container as non root"
# Problem

The container runs as root and this is generally not encouraged because of the security implications in docker.

When running initdb we also run should also pass the user to this.

Currently we do a lot of the logic using postgres user.

# Solution

* Use gosu
* add a dedicated user for the dB
* use nsswrapper to navigate some of the user issues

https://github.com/kartoza/docker-postgi

[2020-04-30 09:27] lucernae commented on #245
I agree with this and consider it in the past, but some part that I can't figure out how to solve:

1. If we run the container as non root, we can't do some management scripts that runs as root. For example, changing permissions of ssl directory/datadir, deleting/creating initdir
2. Running the container as non root will lock the shell inside to only be able to use that user because we shouldn't p

[2020-04-30 09:34] lucernae commented on #243
Some update on my part.
- pg_clusterupgrade does actually upgrade the cluster with postgis in it.
- pg_clusterupgrade does not upgrade postgis version directly, so we can auto upgrade it to add that functionality via extension update
- for some weird reasons, pg_clusterupgrade does not migrate pg_cron tables. Since the cluster only available after the upgrade process finished, we have no way of in

[2020-04-30 09:46] NyakudyaA commented on #245
gosu might be the option here.

True, I experienced this with the geoserver image. So we can drop this option.

docker permissions have always been a pain. I think we can just take the idea of running it as non root out of the equation.

Let's explore this solution

The postgres image allows users to create a cluster using the env POSTGRES_USER. So nsswrapper fakes that there is a user called POST

[2020-05-05 08:36] NyakudyaA opened #248 "ogr2ogr fails with image 12.0 and above"
# Problem

Running ogr2ogr is failing for the PostgreSQL 12 images. Apparently this was fixed in https://github.com/OSGeo/gdal/commit/963618e77de4eee5e7321f5f5ca7abc2b7287fa2

So we should be running gdal > 3.02 to fix this.

https://gis.stackexchange.com/questions/342246/ogr2ogr-from-file-to-postgresql-12-table-fails

# Solution
Investigate how to install gdal > 3 in Debian buster

[2020-05-07 06:11] DeoLeung opened #249 "increase open file soft limit"
I try using
[code]
but after the container starts
[code]

what should be the correct way to increase the open files soft limit?

[2020-05-07 07:20] DeoLeung commented on #249
found a solution by mapping a file into `/etc/security/limits.d/groonga.conf`

https://groonga.org/docs/reference/tuning.html#nofile

Adding an extra environment variable to automate this will be a great help

[2020-05-07 07:25] NyakudyaA commented on #249
Thanks @DeoLeung , can you do a PR to cover this

[2020-05-12 09:49] costasfait opened #250 "QNAP docker installation issue"
Hi,
I installed the container in a QNAP docker and when trying to access the container I get this console output.

2020-05-10 20:57:14.732 UTC [288] [unknown]@[unknown] LOG:  invalid length of startup packet
2020-05-10 20:57:14.737 UTC [289] [unknown]@[unknown] LOG:  invalid length of startup packet
^C
Session terminated, killing shell...2020-05-10 20:57:23.609 UTC [264] LOG:  received smart shutd

[2020-05-12 11:06] lucernae commented on #250
I'm not familiar with QNAP. Is that the full log? I don't see any problem with it. It just seems someone is shutting down postgres (it can be from restart request).

[2020-05-13 15:00] costasfait commented on #250
Here is the full log.

 Add rule to pg_hba: 0.0.0.0/0
Add rule to pg_hba: replication replicator
Setup master database
/var/run/postgresql:5432 - no response
2020-05-13 14:54:18.588 UTC [50] LOG:  starting PostgreSQL 12.2 (Debian 12.2-2.pgdg100+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 8.3.0-6) 8.3.0, 64-bit
2020-05-13 14:54:18.588 UTC [50] LOG:  listening on IPv4 address "127.0.0.1", por

[2020-05-13 17:31] NyakudyaA commented on #250
Hi @costasfait How did you run the containers. Are you using docker volumes or host volume mounts

[2020-05-26 09:08] Jean-Zombie opened #251 "Set database timezone to other then `UTC`"
Hey there.

I am trying to set my timezone to a different value other then 'UTC'. I am using 'docker-compose' and docker 'volume' to make my data persistent. I read the section about "Environment variables" here in the docs but I am hitting a wall.

I managed to set the timezone for the database image in my dockerfile:
[code]
Logging into a running container and checking `date` gives me the correc

[2020-05-26 14:22] hb9fxq opened #252 "REPLICATION_PASS security issue"
https://github.com/kartoza/docker-postgis/blob/729d6d94fa282e08677639e2e05899edc6a22e47/scripts/env-data.sh#L207-L209

...defaults to replicator if not set by environment -> in my eyes that is a security issue if deployed on a internet facing server with ALLOW_IP_RANGE=0.0.0.0/0

My suggestion:
- Generate secure random password
- Disable login for User replicator by default
- only add the default

[2020-05-26 14:29] NyakudyaA commented on #252
You can use docker secrets which will not expose the running container env variables

This user has RO access to the database.

@krippendorf in a production environment why would you want to run the setup with defaults. The env variables are there so that you can pass strong credentials to the running container.

[2020-05-26 14:35] hb9fxq commented on #252
I fully understand your points, but my guess would be, that users see the replaction vars as kind of optional.

e.g.
`

`

Would give no indication that the replication account is unsecured..... maybe on more option would be to set REPLICATION_PASS to default to POSTGRES_PASS if not provided!?

[2020-05-26 15:58] NyakudyaA commented on #252
What about just making the README more verbose ?

If you have defined `ALLOW_IP_RANGE` and `IP_LIST` access to your database will be restricted to a specific subnet and list of ip address. So even if you forget to set your credentials for REPLICATION USER and PASS the most they could do is query your DB provided they are able to guess your IP

[2020-05-26 16:00] NyakudyaA commented on #251
Currently, we do not have a variable to do this. You can create a PR that sets the env variable for the PostgreSQL conf to read. This should be easy to do. We will review your PR

[2020-05-27 11:28] Jean-Zombie commented on #251
Thanks for the quick reply. I might give it a shot!

[2020-06-13 08:40] nilsnolde opened #253 "RAM exploding and not released again"
Hi,
I'm pretty sure this is not actually an issue with your image, but either the server or the PG config. I feel I might be helped quicker here though than SO, since you know all the details on the startup and default behavior of your image. Feel free to close though as off-topic.

I run a (fairly recent) release of the `12.0` branch with pretty much default config. Mainly there's 2 huge raster t

[2020-06-13 08:43] nilsnolde commented on #253
Here's the docker-compose.yml:
[code]

[2020-06-13 11:31] L0rdCr1s opened #254 "Could not map anonymous shared memory: Cannot allocate memory"
I tried it on my arch linux system it works well but when run this image on ubuntu i get this log

[code]
here is my docker-compose setup

[code]

my .env.prod.database

[code]
i tried a different version of postgis 11.0-2.5 and i still get the same error, is there something i'm doing wrong maybe

[2020-06-13 13:09] NyakudyaA commented on #254
The error is caused by the fooliwng lines https://github.com/kartoza/docker-postgis/blob/develop/scripts/setup-conf.sh#L61

Maybe your memory settings on your machine are low.

A quick solution would be for you to do a PR and change the

[code]

To use env variables which you can then control how much you need to allocate

[2020-06-13 13:11] NyakudyaA commented on #253
@nilsnolde Can you try it with the 12.1 images. I am running this image with a planet osm import for the whole world and it is behaving well.

How did you import the rasters into the database?

[2020-06-13 13:32] L0rdCr1s commented on #254
Yah you're right, i tried running the image alone without other services running and the error didn't show up, the problem is the server doesn't have enough memory, i guess a better solution will be to upgrade RAM because i will have to later on anyway, thank you.

[2020-06-13 13:32] #254 closed, assigned to nobody

[2020-06-13 14:30] nilsnolde commented on #253
It's using `raster2pgsql` with:

[code]

I never had problems with any of your images, from 9.6/11/12. I'm asking myself if it's some server/pg_conf interaction that I have no idea about (and that's probably really hard to track down..).

Though I just checked, as we run a similar setup with openelevationservice for openrouteservice infrastructure. There we use mdillon's image on a global setup fo

[2020-06-13 14:34] nilsnolde commented on #253
Which branch is `12.1` built from? Is that a manual build? Can't see ad-hoc where it's coming from or what the difference is to `12.0`.

EDIT: not that it's a problem. I'm somehow used to build images myself ;)

[2020-06-13 14:48] NyakudyaA commented on #253
Yes , it’s a manual build. It was build against develop branch because we mainly introduced a lot of based on cluster initialization https://github.com/kartoza/docker-postgis#cluster-initializations

If I get a chance will try to import a big raster like that and see if the memory spike

[2020-06-13 15:01] nilsnolde commented on #253
Nice of you to offer, but it seems it's gradually building up over a longer time as you can see on the log pic above (that's happening long after the data was imported). I'll get back to you if 12.1 doesn't fix it. Also if it does, of course!

[2020-06-14 16:24] NyakudyaA commented on #252
Fixed this made the README more verbose

[2020-06-14 16:24] #252 closed, assigned to nobody

[2020-06-14 16:25] NyakudyaA commented on #251
This can be set per session. Have also added an env variable to change this

[2020-06-14 16:25] #251 closed, assigned to nobody

[2020-06-16 01:24] henrykironde commented on #210
Folks am getting this error with the latest version. This has been happening for a long time. https://travis-ci.org/github/weecology/retriever/builds/698741534#L214. The project repo is https://github.com/weecology/retriever
Any kind of help will be highly appreciated

[2020-06-16 02:15] NyakudyaA commented on #210
@henrykironde what is your setup like.

Also can you try using the tag latest being mindful of all the latest cluster initialization environment variables.

[2020-06-16 02:29] henrykironde commented on #210
@NyakudyaA thanks for your time. This is the setup, I am actually using [version latest in the docker compose](https://github.com/weecology/retriever/blob/master/docker-compose.yml#L14)

https://github.com/weecology/retriever/blob/master/docker-compose.yml
https://github.com/weecology/retriever/blob/master/Dockerfile
https://github.com/weecology/retriever/blob/master/.travis.yml

[2020-06-16 02:38] NyakudyaA commented on #210
Have you tried using volume mounts. And what are the permissions for your local folder.

* try using docker volume
* do not create your local folder, let docker do it for you to fix the permissions
* if you manually create the folder make sure it has the right permissions ie owner and execute permissions

Will test when I am on a pc

[2020-06-16 07:27] nilsnolde commented on #253
It's not been a long time now and frankly it's not seen a huge increase, but the tendency is there and I'm fairly sure RAM is gonna keep growing:
![image](https://user-images.githubusercontent.com/25637358/84744142-2603a000-afb3-11ea-9b03-f6ef1ed5f42d.png)

Like I said, at this point I can't say for sure if there's been an amount of elevation requests to the DB, but in any case, I don't think this

[2020-06-29 21:59] Arman92 opened #259 "Peer authentication failed for user "docker""
I'm using the docker-compose and it's my ``docker-compose.yml`` file:

[code]

When I run ``sudo docker exec -i -t ubuntu_db_1 /bin/bash`` and then ``psql -U docker db`` I get ``psql: FATAL:  Peer authentication failed for user "docker"`` Error!

It seems the user is not created at all.

I've tried different ENV variables (e.g. POSTGRES_USER, USERNAME) etc but no luck.

P.S the docker-compose.yml

[2020-06-29 22:29] NyakudyaA commented on #259
Can you please try to use the tag 12 or latest. Maybe it’s the problem with only that image.

[2020-06-30 07:30] lucernae commented on #259
If your service name is `db` like in the docker-compose.yml file, replace your command from:

[code]
into

[code]

So the authentication switched from peer to postgres roles.
Maybe try this first.

[2020-06-30 07:40] lucernae commented on #259
Ok, sorry I overlooked that you are trying to access it from within the postgres service.
If you used this command to go inside the containers:

```sudo docker exec -i -t ubuntu_db_1 /bin/bash```

that means you are in the db service. The hostname is just localhost in this case, so the psql command becomes:

[code]

If I read the default credentials from your recipe, the database name might be `gi

[2020-07-06 19:52] sabman commented on #248
Running into kinda of a circular dependency issue:

1. install `pg12` `pgis3` (as a dependency `libgdal2` is installed)
2. If we try to install `gdal` `> 3.x` it complains `libgdal2` is install - if you force it then it uninstalls `pgis3`

Only way I got it working so far is by compiling gdal 3 from source - but not ideal, a bit stuck... not sure how to proceed.

[2020-07-06 20:16] NyakudyaA commented on #248
@sabman You need to do a build based on Ubuntu.

Ubuntu 20.04 installs gdal 3 by default

https://github.com/kartoza/docker-postgis#alternative-base-distributions-builds

For Debian builds I don’t know if there is a new version after buster that comes with gdal 3

[2020-07-08 15:52] kristofj-umd opened #260 "Unable to connect to psql in bash script running in docker-entrypoint-initdb.d"
I am trying to run a bash script at `docker-compose up --build` that adds a new role to the `POSTGRES_DBNAME` database. I am doing this in a bash script since I need to make use of environment variables specified in the `--env-file` I use with `docker-compose`.
Adding the script as specified here (https://github.com/kartoza/docker-postgis#running-sql-scripts-on-container-startup) seems to work fin

[2020-07-08 16:39] NyakudyaA commented on #260
You need to connect using the full credentials ie psql- d gis -p 5432 -U docker -h localhost and also send the full logs when it starts

[2020-07-08 16:57] kristofj-umd commented on #260
I did try and connect like this: `psql -d ${POSTGRES_DBNAME} -U ${POSTGRES_USER} -p 5432 -h localhost` and this is the first hundred or so lines of the log (note that I am using persistent storage so the DB would have been created on a previous aborted run):

postgis_1    | ssl already configured
postgis_1    | we will setup pg_hba conf
postgis_1    | Add rule to pg_hba: replication user
postgis_1

[2020-07-16 17:06] SamyOteroGlez opened #265 "pg_hba.conf"
Hello team,

I am deploying this image into a docker swarm, using a custom pg_hba.conf file I created because I need to delegate the authentication to an LDAP server.

In the version 9.4-2.1, the deployment occurs as expected, and my custom pg_hba.conf file gets added to the container defining a new configuration file (using Configs from docker swarm) thru the docker swarm (basically the file gets

[2020-07-16 19:22] NyakudyaA commented on #265
Maybe you need to add an entrypoint bash script that creates the lock file that prevents initialization of the ph-hba and then mount your config file

[2020-07-17 07:06] lucernae commented on #265
Just to add. Mount your own `setup-pg_hba.sh` to replace the default one, and make it do necessary preparations according to your SOP (remove the line that tries to overwrite to pg_hba.conf because you have it via Config).

If you are using docker-swarm, I would suggest that your `setup-pg_hba.sh` script made as Config too, so you won't have to rebuild our image. We separate these entrypoint scrip

[2020-07-17 07:14] lucernae commented on #260
Hi, I think you failed to connect because you didn't specify the password.
Our scripts works because the environment variable PGPASSWORD are set in the preparation phase `env-data.sh`

Can you try setting the variable PGPASSWORD, or just source `env-data.sh` like this before you use psql to connect:

[code]

Depending on the version of the image, env-data.sh might be in `/scripts/env-data.sh` or `

[2020-07-17 14:44] kristofj-umd commented on #260
I have `PGPASSWORD` set as an environment variable in an environment file passed during build:
[code]
I confirmed `PGPASSWORD` is available in the container by calling `printenv` in the bash script.

Calling psql like this (`psql -d ${POSTGRES_DBNAME} -U ${POSTGRES_USER} -p 5432 -h localhost --set ON_ERROR_STOP=on`) is not working.
What is the correct way to connect to the database using a bash sc

[2020-07-17 14:47] kristofj-umd commented on #260
Should I run my psql query as you do here:
https://github.com/kartoza/docker-postgis/blob/18f99bc8d65bba72f4f5fe7f63d9e0fa179c73b2/scripts/setup-user.sh#L28
as the `postgres` system user?

[2020-07-17 14:48] NyakudyaA commented on #260
Just set your env variable ln the script like
[code]
 or run it as
[code]

[2020-07-17 15:32] kristofj-umd commented on #260
Attempting @NyakudyaA 's suggestion above failed as before.
code snippet:
[code]
log:

postgis_1    | Creating read only user: read_only_user
postgis_1    | psql: could not connect to server: Connection refused
postgis_1    |  Is the server running on host "localhost" (127.0.0.1) and accepting
postgis_1    |  TCP/IP connections on port 5432?
postgis_1    | could not connect to server: Cannot assig

[2020-07-17 15:42] kristofj-umd commented on #260
I also tried running these commands in a `.sql` script without the benefit of environment variables just for testing, and while it did not error out, it also seemed to do nothing. If I run the same `.sql` file after the containers are up and running using `exec psql`, then the query runs as expected.
Ideally, for deployment purposes I would like to be able to run these scripts during initializatio

[2020-07-17 15:50] NyakudyaA commented on #260
@kristofj-umd there is something you are doing which is not right. Are you using docker volume ?.

I just tested this quickly and it works
![example-proble](https://user-images.githubusercontent.com/2510900/87805549-c1f42600-c855-11ea-92a6-2a2a20e7f493.png)

And here is it running
![Peek 2020-07-17 17-47](https://user-images.githubusercontent.com/2510900/87805581-d3d5c900-c855-11ea-96ef-4d1fa8b7c5

[2020-07-17 16:35] kristofj-umd commented on #260
I'm not sure what I'm doing wrong. Below is my docker-compose. It is essentially a postgis/geoserver arrangement.
[code]
Could it possibly be due to my use of persistent volumes? In other words, when my entrypoint script is run, the database is already there and it shuts down before running the script?

[2020-07-17 16:42] NyakudyaA commented on #260
I don't thing the entrypoint logic is ported into the 9.6 image. It should be in images 11 and above

[2020-07-17 16:55] kristofj-umd commented on #260
Well, the log says it is running my script, it just fails. My hunch is that it fails because it tries to run when the database is shut down.
See these lines here in the 9.6/2.4 branch:
https://github.com/kartoza/docker-postgis/blob/c4f007713604c8078d384e1ae342c3e195c11c67/docker-entrypoint.sh#L48-L60

[2020-07-17 17:09] NyakudyaA commented on #260
I suggest you do a PR against the 9.6 branch. There have been a lot of nice changes in the develop and 12 branches that relate to the entrypoint script and other scripts. We can the. Build up another image

[2020-07-17 17:33] kristofj-umd commented on #260
Okay, I'm quite the novice so I'll leave it at handling this manually post-deployment. I wish I could switch to a new version of postgres/postgis, but the codebase would need a bit of revision. I'll close this for now.
Thank you again for your attention to this. I know assisting people like me goes above and beyond your job.

[2020-07-17 17:33] #260 closed, assigned to nobody

[2020-08-03 16:36] asitemade4u opened #266 "Outstanding connection issues to the Postgis container since I updated the computer to Debian 10.5"
Since I updated 2 days ago to Debian 10.5 (on both my desktop = work machine and the "server" which is a desktop with several Docker containers running on it), the Postgis container has been behaving very erratically and disconnects the whole computer.

Here is what happens:
- I connect to the Postgres database as usual (my main tool is Datagrip but it is the same with DBeaver)
- after a very litt

[2020-08-04 18:16] camercu opened #267 "SQLi vulnerability in user creation"
https://github.com/kartoza/docker-postgis/blob/18f99bc8d65bba72f4f5fe7f63d9e0fa179c73b2/scripts/setup-user.sh#L28

If you try to create a user with a password like `' or 1=1; DROP TABLE pg_roles --` you are going to have a bad day.

[2020-08-04 18:17] camercu commented on #267
Practically, this is annoying because I can't have a password that includes the single-quote character (`'`)

[2020-08-04 19:13] NyakudyaA commented on #267
@camercu can you provide a patch to ease your frustrations otherwise you could engage with us to provide a solution through https://github.com/kartoza/docker-postgis#support

An alternative solution would be to mount a sql script or bash script https://github.com/kartoza/docker-postgis#running-sql-scripts-on-container-startup
to create the users until this is resolved.

[2020-08-05 12:28] #266 closed, assigned to nobody

[2020-08-05 12:29] asitemade4u commented on #266
In fact this was neither a Postgis issue nor a Docker one. The culprit was the NFS server on the "server" machine.

[2020-08-05 12:33] NyakudyaA commented on #265
This had been addressed.

[2020-08-05 12:33] #265 closed, assigned to nobody

[2020-08-20 12:10] NyakudyaA opened #268 "Setup reasonable defaults for walsegsize"
There is maybe bug in env-data.sh
https://github.com/kartoza/docker-postgis/blob/12.0/env-data.sh#L148
WAL_SEGSIZE=1024

This creates on initdb
https://github.com/kartoza/docker-postgis/blob/12.0/setup-database.sh#L16
wal_segment_size as 1GB and wal_keep_segments are in your config 250 -
so your pg_wal-directory will expand to 250GB!

Default on postgres.conf in 16MB, should this be 10?

from Post

[2020-08-20 12:12] NyakudyaA commented on #268
`WAL_SEGSIZE` and
`wal_keep_segments`  are environment variables that can be configured on the startup of the container. You should lower them based on your need. I will, however, review the docker image and setup reasonable defaults

[2020-08-20 13:51] B-RH commented on #268
should be 16, power of 2

[2020-08-25 06:53] #268 closed, assigned to nobody

[2020-08-28 04:37] NyakudyaA commented on #224
Closing as they had been no activity since

[2020-08-28 04:38] #224 closed, assigned to nobody

[2020-08-28 04:39] NyakudyaA commented on #250
If this is still an issue please open the issue again

[2020-08-28 04:39] #250 closed, assigned to nobody

[2020-08-28 04:40] #259 closed, assigned to nobody

[2020-09-02 11:08] romanzdk opened #274 "Mounting a volume - permission needed"
When I want to mount a data volume it says
    fixing permissions on existing directory /var/lib/postgresql/10/main ... initdb: could not change permissions of directory "/var/lib/postgresql/10/main": Operation not permitted

[2020-09-07 03:56] vvavepacket commented on #274
I'm also getting this

![image](https://user-images.githubusercontent.com/8295642/92346999-9c88d900-f09c-11ea-8768-6501bc5f137b.png)

[2020-09-07 15:43] vvavepacket commented on #274
I found a fix for this (specially if you are mounting a folder which has an existing data on it)

First, allow the container to install to an empty directory (create another folder)
Second, take note of the permissions to that new empty directory. Copy the chmod and chown attributes to your existing folder.
Last, reboot your container now pointing to the existing data.

It should fix the permissio

[2020-09-07 16:17] NyakudyaA commented on #274
Thanks, Is this problem specific to the 10 image ?

[2020-09-07 16:19] vvavepacket commented on #274
Yes, I have two versions running both 10 and 12 and permission issue is usually caused when you are mounting an existing directory and files that has a different permission that what the code is expecting.

[2020-09-07 16:30] NyakudyaA commented on #274
I would suggest you can update the documentation and add that section for what file permissions are needed

[2020-09-25 10:38] NyakudyaA opened #275 "Upgrade image to PostGIS 13"
# Problem

We need to upgrade the image to PostGIS 13

- [x] Change default authentification to scram-sha-256
- [x] Change other env variables as specified in release notes
- [x] Add any other goodies that are available in 13 release
- [x] Decide if we need to disable replication by default
- [x] Any other things we need to address

ping @lucernae Anything you can think of do a brain dump here. Wi

[2020-10-11 20:53] frankhommers commented on #275
I think you mean Postgres 13. Not PostGIS ;-)

[2020-10-12 06:49] NyakudyaA commented on #275
Yeah, you right. I have already done the migration

[2020-10-12 06:50] #275 closed, assigned to NyakudyaA

[2020-10-20 04:06] hyungmok opened #277 "ERROR: failed to authenticate with backend using SCRAM"
Hi,

My team was using the combination of bitnami / bitnami-docker-postgresql-repmgr and bitnami / bitnami-docker-pgpool, but we wanted to include pgRouting and made a workaround by updating kartoza / docker-postgis repo. I've updated kartoza / docker-postgis and successfully created Docker image/container. I thought it would work well with bitnami / bitnami-docker-pgpool but faced a problem and t

[2020-10-20 07:01] NyakudyaA commented on #277
Can you please highlight the changes you have made. We cannot look at the whole repo. And what command did you use to startup the containers.

Since V13.0 the default authentification method is now `scram-sha-256` so if you using an existing data directory you will need to use the env variable `-e --auth="md5"`

[2020-10-20 07:15] hyungmok commented on #277
@NyakudyaA Thanks for your answer. I'd like to stress that I used the bitnami-docker-pgpool and wanted to integrate it with docker-postgis. So I guess the issue might be associated with the bitnami-docker-pgpool.

FYI, I made changes in Dockerfile as following to include the repmgr thing:

[code]

Also, I checked the pool_passwd file in the pgpool docker, and the user credentials are in it as defi

[2020-10-20 10:12] lucernae commented on #277
[code]

This part doesn't look right to me, shouldn't it be:

[code]

[2020-10-20 10:22] NyakudyaA commented on #277
Thanks, @lucernae , Also just to mention that you do not need to build a complete new image to add your changes. You can create a bash script with the following https://github.com/kartoza/docker-postgis#running-sql-scripts-on-container-startup

[2020-10-20 23:13] hyungmok commented on #277
@lucernae @NyakudyaA HI all, thanks so much!!! Silly me, I didn't know I should've set it up that way. Will do again based on your comments.

[2020-10-21 02:29] hyungmok commented on #277
Thanks for the help. It works like a charm now. Let me close the issue.

[2020-10-21 02:29] #277 closed, assigned to nobody

[2020-10-21 12:32] frafra opened #278 "/usr/lib/postgresql/*/bin not in PATH"
Hi,
I was just trying to call `/usr/lib/postgresql/13/bin/ogr_fdw_info` but it looks that `/usr/lib/postgresql/13/bin` is not included in `$PATH`.

[2020-10-23 15:00] mbernasocchi opened #279 "build 12.4 missing"
@timlinux  @NyakudyaA Would it be possible to build 12.4?
Cheers Marco

[2020-10-23 16:04] NyakudyaA commented on #279
Hi @mbernasocchi i will build it during the weekend

[2020-10-23 16:06] mbernasocchi commented on #279
Great thanks, here we did automate builds on releases: https://github.com/gem/oq-qgis-server/blob/master/.github/workflows/build_docker_images.yml
maybe it can help you?

[2020-10-23 23:08] kristofj-umd opened #280 "FATAL: password authentication failed for user"
I am getting an error when I call `docker-compose up`:
[code]
I am using `docker-postgis` as part of a docker-compose arrangement. Here is the pertinent section:
[code]
Any ideas what is happening?

[2020-10-24 02:41] NyakudyaA commented on #280
Add the following environment variable to your docker compose

PASSWORD_AUTHENTICATION="md5"

For a discussion if this look at issue #277

[2020-10-26 12:03] mbernasocchi commented on #279
@NyakudyaA I also noticed that the 12.1 container has Postgres 12.2 in it

[2020-10-26 12:05] NyakudyaA commented on #279
Hi, @mbernasocchi I think it was not tagged properly. I will build the image shortly and ping you. Thanks for the script. I will  incoperate it into our workflow for publishing new images

[2020-10-27 07:29] NyakudyaA commented on #279
![image-com](https://user-images.githubusercontent.com/2510900/97269821-cbb6fd80-1836-11eb-9810-b525da487375.png)

@mbernasocchi I have created the image

[2020-10-27 08:22] mbernasocchi commented on #279
will test it tomorrow. thaks a lot

[2020-10-27 08:22] #279 closed, assigned to nobody

[2020-10-27 20:15] kristofj-umd commented on #280
Thanks for the suggestion and the link.
This did not solve my issue. I am receiving the same error as I reported above.

I wonder if it has something to do with the allowed connections in `pg_hba.conf`
Here is my `setup.conf`:
[code]

[2020-10-27 20:28] NyakudyaA commented on #280
@kristofj-umd 9.5 reached it's end of life many years ago and our code base has drastically changed from those images. Unfortunately we engage with the community on a pro bono basis and if you need further help with this problem you can contact us for a support contract where we can help you debug the issues

[2020-10-28 23:42] kristofj-umd commented on #280
I understand. Thank you for responding, and for your work in creating and
maintaining this repo.

On Tue, Oct 27, 2020 at 3:28 PM mazano <notifications@github.com> wrote:

--
Kris Johnson
Research Scientist
Natural Resources Research Institute
--------------------
GIS Instructor
Department of Geography, Urban and Environmental Sustainability Studies
University of Minnesota - Duluth
324 Cina Hall
D

[2020-11-02 18:10] vtoupet opened #282 "Crash while restoring: cannot execute CREATE ROLE in a read-only transaction"
I am having problems restoring from backup because it tries to create the PGUSER when starting:
[code]

How can I avoid the entrypoint script to create a user while restoring?

[2020-11-04 16:03] s2074135 opened #283 "Log message 'ERROR: extension "pg_cron" does not exist' when upgrading from docker-postgis 12 to 13"
Hi

I ran into an error message when upgrading docker-postgis from version 12 to 13. When running pg_restore on my previously exported postgis database (with pg_dumpall), the following error popped up:

Yet the restore completes and a quick test on the data showed no problems. It seems to me that pg_cron used to be installed in version 12 but is missing in version 13.

Is the absence of pg_cron in

[2020-11-04 16:12] NyakudyaA commented on #283
When I initially upgraded the image to version 13 the pg_cron extension had not yet been ported. But I see that it looks like it has been ported now. You can make a PR to add it back and I will merge it otherwise wait for me to update the image hopefully soon.

If you really need it you can add a bash script to add it as part of the image.

[2020-11-04 16:55] NyakudyaA commented on #282
What are the steps involved in replicating this.

[2020-11-05 08:02] s2074135 commented on #283
@NyakudyaA, I am only vaguely familiar with Git procedures. As far as I understand it, you have added the feature back to the development branch. Is there anything for me left to do, to get it into version 13?

Thank you

Thomas

[2020-11-05 08:14] NyakudyaA commented on #283
I will make a PR later today to merge the develop branch into the 13.0 branch and this will update the image

[2020-11-05 08:34] s2074135 commented on #283
@NyakudyaA, thank you for your help and of course thank you for providing us with a docker image of postgis.

[2020-11-13 18:28] NyakudyaA commented on #283
This been fixed in develop. Will port to 13 and release a new version

[2020-11-13 18:28] #283 closed, assigned to nobody

[2020-11-13 18:29] #280 closed, assigned to nobody

[2020-11-13 18:30] NyakudyaA commented on #282
Closing this, no user input. Reopen if problem persists

[2020-11-13 18:30] #282 closed, assigned to nobody

[2020-11-13 18:32] NyakudyaA commented on #253
@nilsnolde is this still happening. Can you try the 13.0 image. If not we can close the issue

[2020-11-13 18:33] NyakudyaA commented on #274
Closing this as docker encourages people to use docker volumes and will update the documentation

[2020-11-13 18:33] #274 closed, assigned to nobody

[2020-11-13 18:34] NyakudyaA commented on #249
Closing this as they have been no user input

[2020-11-13 18:34] #249 closed, assigned to nobody

[2020-11-13 18:35] NyakudyaA commented on #267
@camercu can you test the PR that I made otherwise we can close this issue

[2020-11-13 18:36] NyakudyaA commented on #185
Closing this as we don't have the time to do this now unless we get a client requesting this.

[2020-11-13 18:36] #185 closed, assigned to nobody

[2020-11-16 21:12] camercu commented on #267
Tested on my machine, and the PR seems to work beautifully!

[2020-11-25 03:21] vvavepacket opened #286 "Stuck on Setup master database"
I'm using the `kartoza/postgis:12.1` tag of this image and now it seems the container is getting stuck at this state

[code]

Is there anyway to get the last working version of that tag? It seems a breaking change was applied since a new pushed to docker hub happen recently.

Thanks

[2020-12-01 20:31] greghor opened #287 "user-defined db doesn't get the proper extensions"
First of all, thank you very much for sharing the image. Really helpful.

I try to run a container with a specific db name and some extensions.

`docker run -d -v $PWD/mydatadir:/var/lib/postgresql -p 5432:5432 -e POSTGRES_USER=<myusr> -e POSTGRES_PASS=<mypwd> -e POSTGRES_DBNAME=<mydbname> -e POSTGRES_MULTIPLE_EXTENSIONS=postgis,hstore,postgis_topology,postgis_raster,pgrouting kartoza/postgis`

th

[2020-12-01 21:33] NyakudyaA commented on #287
Hi @greghor the extensions you have supplied are also the default. You can skip them and they will be automatically installed. When you login to the dB and run \l what tables do you see.

I suggest you start the container in interactive mode or tail the logs when it's starting and share them.

If the problems persists try using a docker volume or run a tagged image I.e 13.0

[2020-12-02 15:13] greghor commented on #287
Hi @NyakudyaA  and thank you for your answer.

after investigating a bit, I think the problem was on my side. I used `postgres` as a db name, and this likely causes some conflicts since this is the default name for the maintenance db is also `postgres` (forgive me if my interpretation is wrong here, I am not (yet) a db expert :) ). Anyway, if I choose an other db name like `foo`,  things are worki

[2020-12-02 15:13] #287 closed, assigned to nobody

[2020-12-09 14:25] NyakudyaA commented on #278
![ogrinfo](https://user-images.githubusercontent.com/2510900/101642019-28632600-3a3b-11eb-807c-d28413fe8f34.png)

I could not replicate

[2020-12-09 15:54] #267 closed, assigned to nobody

[2020-12-10 09:16] frafra commented on #278
Hi,
you are using the full path. The directory is not included in the `PATH`, so if you type `ogr_fdw_info` you get a command not found error.

[2020-12-10 10:19] NyakudyaA commented on #278
Will fix, just tested it

[2020-12-14 19:56] NyakudyaA commented on #248
This has been solved in the base image. https://github.com/kartoza/docker-postgis/blob/postgres-base/Dockerfile#L26

[2020-12-14 19:56] #248 closed, assigned to NyakudyaA

[2021-01-27 14:02] nilsnolde commented on #253
hey @NyakudyaA sorry for the long wait.. I've not been working on this project forever (it's voluntary for an NGO), but they contacted me yesterday again that the same thing keeps happening. I'll try the 13.0 image and let you know over the next weeks (it usually takes time to build up in RAM).

[2021-01-27 14:10] nilsnolde commented on #253
Actually I'm fairly sure this is some weird interaction with other system processes. They use DataDog which in turn runs a plethora of watch processes for monitoring.. I could picture some strange interaction with docker/postgres..

[2021-01-29 11:35] #278 closed, assigned to nobody

[2021-03-01 09:14] nilsnolde opened #294 "lock file for startup scripts"
I understand why you'd like to have a lock file when using startup scripts (so the sql scripts are not executed multiple times when containers restart I guess?). It does prove a little annoying when you're updating those files, start a fresh container and expect the updated scripts in the new db. Since it's a dot file, it's easy to overlook.

Aside from documenting the lock file:

I know this imag

[2021-03-01 09:15] nilsnolde commented on #294
I'd PR if you agree (in case that didn't really come out:))

[2021-03-01 09:20] NyakudyaA commented on #294
I agree you can PR. Do you aim to use the same env var where we are using lockfile or it's just specific to running the SQL scripts

[2021-03-01 09:24] nilsnolde commented on #294
Where else are lock files used other than the startup scripts? I'd leave that decision up to you and implement accordingly.

[2021-03-01 09:36] NyakudyaA commented on #294
They are used in the following places
https://github.com/kartoza/docker-postgis/blob/develop/scripts/env-data.sh#L323
https://github.com/kartoza/docker-postgis/blob/develop/scripts/setup-database.sh#L82
https://github.com/kartoza/docker-postgis/blob/develop/scripts/setup-pg_hba.sh#L5
https://github.com/kartoza/docker-postgis/blob/develop/scripts/setup-conf.sh#L5

In some other places, I believe we

[2021-03-01 09:39] nilsnolde commented on #294
Great thanks @NyakudyaA will PR shortly!

[2021-03-01 10:10] lucernae commented on #294
@nilsnolde @NyakudyaA
Sorry to raise additional comments.
IMHO, since `UPDATE_SCRIPTS` is a term that is not really clear to which scripts it targets to, I propose alternative approach:

1. Create bash helper functions that force rerun startup scripts hook (scripts inside `/docker-entrypoint-initdb.d/`), ignoring the lock file and not setting the lock file. Let's call this for now `exec_startup_ho

[2021-03-01 10:22] nilsnolde commented on #294
@lucernae I do agree, less conf vars the better.

I'm a little confused by the suggestion tbh: what you're suggesting would require to actively run a bash function after sourcing the env_data.sh script. From a user perspective, this equals what I'm doing now, `sudo rm .entry_point.lock`. Of course some people might map a single script to the container and never even see the lock file unless `exec`

[2021-03-01 10:24] nilsnolde commented on #294
In the no-PR case I'd still PR a README fix to make people aware that there even is a lock file, for exactly that single-file-volume usage where people won't see it.

[2021-03-01 10:40] lucernae commented on #294
Ok, maybe I misunderstood the original issue above. Can you clarify here?
Even if you use `UPDATE_SCRIPTS` env var, you still need to execute something after you change your hook scripts in `/docker-entrypoint-initdb.d/`. Probably executing scripts from inside the container like `cat <your sql scripts> | psql ` or `bash <your bash scripts>` or alternatively, restarting the container using `docker

[2021-03-01 10:51] nilsnolde commented on #294
Well that's true, what I'm proposing wouldn't give you the ability to change anything at runtime. To change behavior you'd still need to create a new container. But the same is true for all other env vars.

So, what I'd like to have is:
I create a container and decide on container creation if my startup scripts should be updated on container restart or not, hence the env var. I think it's valid to

[2021-03-01 11:01] nilsnolde commented on #294
I'm not sure if I made myself clear, but basically if `UPDATE_SCRIPTS=true` (or whatever var name), then simply ignore the lock file for startup scripts.

[2021-03-01 11:05] NyakudyaA commented on #294
@lucernae I am in favour of using the env var just like we do for `RECREATE_DATADIR`. We can call this env var a name that people will understand. Your approach although good would mean a user has to exec the container to run the script which I am not in favour of.

I guess the change would be something like
[code]
Where the env variable defaults to false
I think this change is less invasive

[2021-03-01 11:25] lucernae commented on #294
No worries! We just want more feedback, that's all. The goal is to make the image easily extensible for special use cases, but also ensure compatibilities. Hence, my proposal aims to provide a hook so the devs can use it from the inside.

Anyway, your comment made it clear that what you actually want is the ability to re-execute the hook scripts on multiple container restarts, ignoring the lock fi

[2021-03-01 11:32] lucernae commented on #294
Yes @NyakudyaA , agree with yours too. Your comment's just not loaded when I wrote mine. We just need a more appropriate name that reflects the intention (flag name rather than command). REPEAT and UPDATE is like a command verb to me so I would like to avoid that.

[2021-03-01 11:50] nilsnolde commented on #294
Ok cool, thanks to both of you for the immediate attention and the care for maintenance!

I like this one `IGNORE_INIT_HOOK_LOCKFILE` but would make it more specific, maybe `IGNORE_CUSTOM_SQL_LOCKFILE`? Since I think

that'd rather be a no from my intuition. It seems it either doesn't really matter, e.g. [cron one](https://github.com/kartoza/docker-postgis/blob/develop/scripts/setup-database.sh#L8

[2021-03-01 11:56] NyakudyaA commented on #294
You can also run `.sh` files so let's not call it `IGNORE_CUSTOM_SQL_LOCKFILE` rather something more inclusive

[2021-03-01 12:07] lucernae commented on #294
Just additional comments, the reason I propose IGNORE_**INIT**_HOOK_LOCKFILE is because the lock file is inside /docker-entrypoint-**initdb**.d/, and as @NyakudyaA said it may also process `.sh` files. I'm fine with any flag name as long as it refers to which lockfile it targets (the one in initdb.d) or the phase (startup hook). Since we don't target any other lock file, then it's fine as long as

[2021-03-01 12:08] nilsnolde commented on #294
Oops, that's true, totally forgot about that.. `IGNORE_INIT_HOOK_LOCKFILE` it is then? And should we include .sh scripts to be executed on every container (re)start if the new env var is `true` or is it getting too?

[2021-03-01 12:40] lucernae commented on #294
Yes, `*.sh` and `*.sql` has to be treated the same way. If `*.sql` files can be re-run multiple times, then so does `*.sh`. We want to follow the same convention as what the mainline postgres image is supporting. See https://hub.docker.com/_/postgres under the **Initialization scripts** heading (but ignore the **warning** section, since that's what we want to change in this PR).

CC again @Nyakudy

[2021-03-01 13:07] NyakudyaA commented on #294
Yes, I confirm

[2021-03-02 11:26] #294 closed, assigned to nobody

[2021-03-04 10:50] npltr62 opened #297 "persist backups data"
Hi,
I need to persist backups data, is it possible?
in my compose file

[2021-03-04 17:32] NyakudyaA commented on #297
It should work, just make sure that if you create the folder for the pg data directory it has the correct permissions or let docker create it for you

[2021-03-04 19:05] npltr62 commented on #297
ok thanks, i created pgdata folder and it's working , unfortunatly backups directory it's not the case.

![Capture d’écran 2021-03-04 200453](https://user-images.githubusercontent.com/40625762/110021052-906b9480-7d2a-11eb-80cf-c75a3bc757cb.png)

[2021-03-04 19:13] NyakudyaA commented on #297
Backups directory is created at midnight according to the cron schedule

[2021-03-04 19:26] npltr62 commented on #297
you're meaning each midnight a backup directory will created. how can i check that? in the container journal?

[2021-03-11 15:39] ghost opened #298 "Restore a backup on Startup"
Hi - Just looking for a little guidance - don't have a lot of postgis / gres knowledge, but had lots of other.
Is it possible for me to restore a backup taken with pg_dump on startup of the container?

[2021-03-11 16:30] NyakudyaA commented on #298
Yes, can you look at the section
 Running SQL scripts on container startup from the readme.

[2021-03-11 17:04] ghost commented on #298
Sorry - I completely overlooked that section! My Bad
It states can only use .sql , .sql.gz and .sh, but because pg_dump outputs sql commands when it dumps the db, am I ok to just use this (rather large) dump file as if it was a sql script?

** Edit **

Yeah it works - cheers :)

[2021-03-11 17:13] #298 closed, assigned to nobody

[2021-03-11 18:28] NyakudyaA commented on #298
@DavidSekula you can create a bash script that will run pg_restore no matter what format your pg_dump output format

[2021-03-15 11:10] #297 closed, assigned to nobody

[2021-03-16 17:40] AntoninRousset commented on #97
Hello, I was not able to change _method_ from `peer` to `trust` for `local` connection _type_ and looking at the setup scripts it does not seems possible.
I usually access the database with UNIX sockets by sharing the `/var/run/postgresql` volume bettween a `postgis` docker and my `app` docker and this easily breaks the `peer` requirements of having the same operating system user name.

[2021-03-16 19:58] NyakudyaA commented on #97
@AntoninRousset what have you tried. Currently if you pass PASSWORD_AUTHENTICATION env variable it is used in cluster initializations if the data directory does not exists or is empty. The same env will also populate values in pg_hba and PostgreSQL.conf.

Could you try that otherwise I can suggest you mount your config as a volume

[2021-03-16 20:58] AntoninRousset commented on #97
Setting PASSWORD_AUTHENTICATION won't change the local line from `local all all peer` to `local all all trust` in `pg_hba.conf`. Actually, after trying it pg logs `invalid value for parameter "password_encryption": "trust"` because the host line set by the `setup-pg_hba.sh` script set the replaced the default password encryption _scram-sha-256_ of some host lines with _trust_ as expected.
A custom

[2021-03-27 14:10] stewartmcgown opened #299 "synchronous_standby_names = '*' causes master to hang"
Version: 12

I have a single asynchronous replica set up for my master db. It runs great out of the box with the REPLICATION_XXX env vars!

I'm trying to enable synchronous_standby_names so that we don't get inconsistent reads. Adding EXTRA_CONF="synchronous_standby_names = '*'\n" as an env var (or via the /settings/extra.conf file) causes the master to just hang on the log entry 'Creating superus

[2021-04-04 18:53] bpasson opened #300 "Mounted initialization scripts trigger readonly filesystem on creation of lockfile."
When deploying on Kubernetes with a Secret containing initialization sql scripts mounted to `/docker-entrypoint-initdb.d/` you get a readonly file system error, as the directory is mounted readonly by Kubernetes. The `/docker-entrypoint-initdb.d/.entry_point.lock` file should not be created inside that directory. Using secrets and configmaps as mounted files is an commonly used way to add scripts

[2021-04-04 21:26] NyakudyaA commented on #300
@bpasson What suggestion do you have to combat this problem?

[2021-04-05 05:23] lucernae commented on #300
@bpasson If you are looking for a work around, can you specify the mount to the file instead of the directory?
I also do it this way when mounting scripts from a configmap. But I never mount scripts from secrets, though.
The `/docker-entrypoint-initdb.d/` can still be mounted using a PV this way (and get overlaid with the individual files from the configmap mount).

Otherwise, we would be very hap

[2021-04-06 06:44] bpasson commented on #300
@lucernae It's true I can mount specific files. It's not ideal if you have more than one, as each one needs specific mapping. Concerning the lockfile (/docker-entrypoint-initdb.d/.entry_point.lock) used to see if the scripts should be run should be stored in persisted storage in stead of ephemeral storage. In the case of a pod relocation or restart the scripts are executed again, possibly breaking

[2021-04-12 20:15] agusterodin opened #301 "ARM64 / Apple Silicon builds in Docker Hub"
The only version in Docker Hub is only x86-64. The image does not work on Apple Silicon (M1) even with Docker qemu emulation. Do you have any suggestions on how to get it to work?

[2021-04-13 04:57] NyakudyaA commented on #301
Hi @agusterodin unfortunately we are not yet privileged enough to own the new shinny M1. Is there any docker image that is working on the new M1. If so can , which one is it. The idea is that we need to compare what base image the working image is using.

[2021-04-13 15:40] agusterodin commented on #301
I have built an arm64 version on my machine. It appears to work perfectly. It is on the docker hub under jeffrosen1092/postgis:latest. Is there anything else I can do to help?

[2021-04-13 15:51] NyakudyaA commented on #301
Thanks, @agusterodin, You could do a PR so that we can incorporate it with this image.
We are also looking at various ways to tag our images so that they can be used for different situation ie redhat etc

[2021-04-13 15:56] NyakudyaA commented on #301
And also can you add a link to your dockerhub

[2021-04-13 18:27] agusterodin commented on #301
https://hub.docker.com/repository/docker/jeffrosen1092/postgis

[2021-04-13 18:32] agusterodin commented on #301
What exactly should the PR contain? I performed the build on my machine with this command `docker build -t kartoza/postgis git://github.com/kartoza/docker-postgis`.

Doesn't this boil down to updating the pipeline (and maybe dockerfile)? I've heard that people that build with Github Actions are blocked by the fact that you can't build ARM64 on their pipelines (similar to what is mentioned here htt

[2021-04-13 19:17] NyakudyaA commented on #301
Thanks @agusterodin i think the link describes the issue clearly, I think the solution for now should be
* build the image locally
* Investigate how GitHub actions can be improved to build images compatible for silicon - this should be the long term solutions but since we maintain this image pro-bono we will wait for solutions from the community or someone to sponsor us to develop a solution (GitH

[2021-04-21 16:08] jt-helsinki opened #302 "Kubernetes Deployment with PersistentVolume causes Permission Denied upon initialisation"
Hi,

* Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.0", GitCommit:"cb303e613a121a29364f75cc67d3d580833a7479", GitTreeState:"clean", BuildDate:"2021-04-08T21:16:14Z", GoVersion:"go1.16.3", Compiler:"gc", Platform:"darwin/amd64"}
* Server Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.2", GitCommit:"faecb196815e248d3ecfb03c680a4507229c2a56", GitTreeState:"cle

[2021-04-23 07:44] jt-helsinki commented on #302
It would seem that part of this is that on my local machine which I develop on I am using the Kubectl from inside Minikube.

If I start Postgis outside of minikube using docker-compose and the kubectl of the dev machine (not minikube), there is no issue.

The bottom line, can't start inside minikube but can start outside. I'd say this is not a bug BUT I would say a work around needs to be document

[2021-05-10 14:26] NyakudyaA opened #305 "Make SSL Default in container"
https://pavelevstigneev.medium.com/postgresql-ssl-with-letsencrypt-b53051eacc22

[2021-05-11 22:42] timlinux commented on #305
@NyakudyaA

Currently the ssl forcing client to ssl is broken. Can you replace cert with md5 so the HBA config is something like this:

![image](https://user-images.githubusercontent.com/178003/117893545-85952900-b2b2-11eb-970b-fb6326fa752e.png)

[2021-05-29 17:19] #305 closed, assigned to nobody

[2021-06-20 12:33] mshzsh opened #314 "PROMOTE_MASTER not work on slave server"
I run the Master database on the X server and run the Standby database on the Y server.
(two completely independent physical servers)

My config file in Master server is :

[code]

And my config file in Standby server is :

[code]
Now Master server is up!
Then i started Standby Container for the first time, then I stop it and uncomment `DESTROY_DATABASE_ON_RESTART=False` and run Container again.

[2021-06-29 15:23] anneb opened #317 "required WAL directory "pg_wal" does not exist"
Postgres fails to start in a fresh container when previously created data exists in datadir
version/tag: kartoza/postgis:13-3.1

Steps to reproduce:
Initialize a database on host in /home/username/data:
[code]

Try to use initialized database on the same host from a fresh container:
[code]

The documentation describes how to persist data on the host file system (-v hostdirectory:/var/lib/postgresq

[2021-06-29 19:55] #317 closed, assigned to nobody

[2021-06-29 19:59] NyakudyaA commented on #317
@anneb i have fixed this but you should be able to pass the env variable -e POSTGRES_INITDB_WALDIR=/var/lib/postgresql/pg_wal and then mount the volume but it should work by default now

[2021-06-30 22:10] bleleve opened #319 "Password is appended on each container start"
Hi there,

It seems that the password defined by the env var POSTGRES_PASS is appended on every restart of the container :

**1st start logs :**
postgresql_1  | [Entrypoint] GENERATED Postgres  PASSWORD:  xxxxxxxxxxxxxxxxxxxx
postgresql_1  |  PGPASSWORD Generated above:

**2nd start logs :**
postgresql_1  | [Entrypoint] GENERATED Postgres  PASSWORD:  xxxxxxxxxxxxxxxxxxxx
postgresql_1  | xxxxxxxxxx

[2021-06-30 23:27] timlinux commented on #319
Thanks for this - probably a side effect of the new default random password we did to prevent security issues arising from using known default passwords. @NyakudyaA will you make a fix?

[2021-07-01 08:42] #319 closed, assigned to nobody

[2021-07-01 08:46] bleleve commented on #319
You guys rocks!

[2021-08-02 17:03] lucernae opened #321 "Tag 13-3.1 doesn't survive container recreate because waldir is missing."
When the container is recreated, it complains that the `pg_wal` directory is missing.
It turns out that the `pg_wal` directory inside the `PGDATA` directory is only a link to whatever directory specified in `POSTGRES_INITDB_WALDIR`.
I was under the impression that this env `POSTGRES_INITDB_WALDIR` is only for initializations.
It currently failed upon recreate because `POSTGRES_INITDB_WALDIR` is ou

[2021-08-02 18:09] NyakudyaA commented on #321
@lucernae how do I test this, let me test this and revert back

[2021-08-03 04:41] NyakudyaA commented on #321
@lucernae is this the same issue as #317

If so can you please pull and get the latest image

[2021-08-03 15:11] NyakudyaA commented on #321
I could not replicate this issue @lucernae

[2021-08-04 07:44] lucernae commented on #321
Ok. Let me test this again after repull.

[2021-08-04 08:19] lucernae commented on #321
Still the same errors.

# First case (if we didn't set POSTGRES_INITDB_WALDIR)

This is a simplified version of how I usually deploy on prod.
I mount a persistent volume into `/opt/kartoza/postgis/data` and set `PGDATA=/opt/kartoza/postgis/data`.
Is it mandatory for me to also set `POSTGRES_INITDB_WALDIR` to a different persistent volume? Because I thought this env is for custom initialization (if

[2021-08-04 09:23] NyakudyaA commented on #321
If you are setting up a custom data directory we also need to add the POSTGRES_INITDB_WALDIR and it's mount point i.e
[code]

The POSTGRES_INITDB_WALDIR should be a volume on its own.

If we are to assume that a user does set the `DATADIR` and not set the `POSTGRES_INITDB_WALDIR` then we can need to edit the logic from https://github.com/kartoza/docker-postgis/blob/develop/scripts/setup-database.s

[2021-08-04 11:31] NyakudyaA commented on #321
@lucernae Can we not just move around the lines to be.

[code]

[2021-08-04 17:27] lucernae commented on #321
Yeah, this has to be guarded by the entrypoint scripts. Either by implicitly defining default value to be within the primary volume, or making sure that if it comes from two different volumes, then you prevent mount it nested (not every volume driver supports nested mount). Currently nothing prevents me from accidentally running the container with incorrect settings.

Ok, sorry, I know my docker-c

[2021-08-04 18:03] lucernae commented on #302
@jt-helsinki This is probably because your minikube is not in Linux. In Windows or MacOS, minikube has to use a VM as a bridge. This caused unix FS mount permission issues if you use hostPath mount. In Windows, especially, you can't set Unix permission because Windows NTFS don't have that concept. Unless you are using WSL. I'm not sure what Kubernetes distro your dev machine is using. Is it Linux-

[2021-08-04 19:36] NyakudyaA commented on #321
If you set the env variable  POSTGRES_INITDB_WALDIR to point to a subdirectory of the data directory makes no sense because the env variable is there to ensure that we split the data directory contents. So that we can have POSTGRES_INITDB_WALDIR - for storing write-ahead logs and the actual data in postgres. I think a solution would be to check if POSTGRES_INITDB_WALDIR is a subfolder of the DATAD

[2021-08-10 17:05] rmmariano opened #322 "Question: How could I use pg cron inside the container?"
I'm not able to use pg cron inside the container and I do not know the reason.

I have a procedure that I would like to call inside `register` database.

Inside `gis` database I added the following cron job:

[code]

But a connection failed message appears on the console:

[code]

I've already added a `.pgpass` file that allows me to use `psql` command without passing a password, but pg cron is no

[2021-08-11 20:21] eriktelepovsky opened #323 "POSTGRES_DB vs POSTGRES_DBNAME"
Hello. I'd like to ask, what's the difference between environment variables POSTGRES_DB and POSTGRES_DBNAME? Which one should I use? Or both?

Docs on Docker hub repository mentions both variables but I am confused which one to use and when:
https://hub.docker.com/r/kartoza/postgis/

[2021-08-17 14:17] DmitryKvant commented on #321
Any news? How to make it work?

Tag `pr-309-13-3.1` have same error

[2021-08-17 14:35] DmitryKvant commented on #321
delete environment variable `DATADIR` and it will keep data in default directory - `data-volume:/var/lib/postgresql/13`

[2021-08-18 12:19] lucernae commented on #321
Hi, sorry. Been busy with other things. Continuing with the discussion:

Yes, I agree it doesn't make sense. I set the env to simulate the entrypoint script behaviour and point out where the real problem is. This was not meant to focus on the environment variable. Let's just drop the the discussion of the above quote, because it brings more confusion than clarity.

Ok, since it's definitely behavi

[2021-08-18 12:33] lucernae commented on #321
@DmitryKvant , with the quoted setup from your comment:
- `$DATADIR` is persisted because it points to `/var/lib/postgresql/13/main`
- pg_wal is persisted because it points to `/var/lib/postgresql/13/pg_waldir`

Both locations are under persisted volume path: `/var/lib/postgresql/13` which is why they are persisted.

My production setup has this principle:
 - mount the the volume directly to the d

[2021-08-18 14:10] NyakudyaA commented on #321
Ok, Noted

Totally agree. So in simple terms, we are trying to prevent a user from specifying only one mount point for (DATADIR) because the pg_wal will then become a symlink. I assume all this is port a user case where you are using RECREATEDIR or the DATADIR is empty.

Cool

It does make the script exclude  `--waldir` $POSTGRES_INITDB_WALDIR to be inside the datadir, but the solution would still

[2021-08-19 13:55] #321 closed, assigned to lucernae

[2021-08-21 08:40] #314 closed, assigned to nobody

[2021-08-21 08:41] mehmadi opened #325 "PROMOTE_MASTER not working when promoted slave to master"
I am running Master and Standby databases on two separate servers. `config` file in Master server is as below:

[code]

And `config` file in Standby server is as below:
[code]
Everything works fine when Master server is up and Standby Container is started for the first time. Then I stopped Standby server and uncommented `DESTROY_DATABASE_ON_RESTART=False` and run Container again. Everything worked

[2021-08-31 02:23] codydaig opened #326 "Container not running CREATE EXTENSION POSTGIS;"
I have the following in my docker-compose.yml

[code]

However, once the container has been established, I have to go into the container, connect to the `postgres` database and run `CREATE EXTENSION postgis;` before I can use geometry data types.

Any advice here? Thanks!

[2021-09-01 15:12] shortwavedave opened #327 "FATAL: database "mydb" does not exist, but DATADIR is set"
I'm not sure what I'm missing here. I've set the DATADIR environment variable to /data, which is a mounted drive. It looks like postgres is writing to this drive:

[code]

Here are the startup logs

[code]

Here are my container settings:

[code]

Any ideas what may be happening here?

[2021-09-01 21:55] NyakudyaA commented on #327
POSTGRES_INITDB_WALDIR can only be set for images >13.3-1

What permission does your mount point have ?

[2021-09-01 22:01] NyakudyaA commented on #326
Can you please try with a different user. Not a user called postgres. Maybe they might be a conflict with the system Postgres user which exists when you install it.

If that's the case maybe we need a check to prevent the env name being called postgres

[2021-09-02 14:23] shortwavedave commented on #327
@NyakudyaA Thanks for the response. The data directory has the following permissions:

[code]

I did initially have an issue with permissions when I first deployed the container (on kubernetes). I thought that I fixed it when I setup an init container that updated the permissions of the mounted drive - after that it seems like postgres is writing to it. perhaps there is a startup error that isn't

[2021-09-02 17:21] codydaig commented on #326
Hey @NyakudyaA ! Thanks for getting back.
I tested with another database user, password, and db with the same results.

[2021-09-06 19:19] shortwavedave commented on #327
Seems that there is a bug in the datadir logic (at least for the 12.0 branch).

The env-data.sh script is sourced, and the DATADIR variable is set at the top of the file, so this logic doesn't do anything:
[code]

In local tests I removed the initialization at the top of the script, and changed that logic to
[code]

This time it found the folder, but then I get this error (with an empty datadir):

[2021-09-06 19:43] NyakudyaA commented on #327
@shortwavedave the best solution would be to cherry pick some of the logic in the develop branch to the 12 branch. We would then release a new tag for that specific version

[2021-09-07 00:33] NyakudyaA commented on #327
@shortwavedave it should be declared like this

DEFAULT_DATADIR="/var/lib/postgresql/${POSTGRES_MAJOR_VERSION}/main"

# If datadir is not defined, then use this
if [ -z "${DATADIR}" ]; then
  DATADIR=${DEFAULT_DATADIR}
fi

[2021-09-10 11:42] abhijitgujar86 opened #330 "Add support for plv8"
plv8 is secure, javascript is easy, well known, will be great add on

[2021-09-13 11:11] agatheLG123 opened #331 "FATAL: lock file "postmaster.pid" already exists"
Hi,
I tried to launch a `docker-compose up --build` in a server however I get the error :
FATAL:  lock file "postmaster.pid" already exists
HINT: Is another postmaster (PID 90) running in data directory "/var/lib/postgresql/13/main"?

I have tried deleting container, image, volumes, I have tried the command `docker system prune --volumes` but I still get the same error... How is it possible ? I al

[2021-09-18 13:04] archer-v commented on #331
Have the same problem too
But at another host machine container starts normally
I tried to find out the differences
There were differences in docker and docker-compose versions at these hosts, but I installed the identical versions but it didn't help.
The host it works is Ubuntu, the host it doesn't work is pretty old Debian. But I'm not sure if it's because of this
I don't know how it's possible

[2021-09-18 20:54] archer-v commented on #331
I took the time for some debugging and came to the conclusion that this is not the container problem but definitely a host problem
the image startup scripts do several restarts of postgres during the initialization sequence.
It uses 'ls' command to check the postgres pid file exists
But 'ls' command suddenly returns "Permission denied" error for all files...
'ls' uses 'stat' function to invoke fil

[2021-09-19 06:26] NyakudyaA commented on #331
@mandalorian-one Does this happen when you are using a host mounted file only or docker volume ?

[2021-09-19 16:12] archer-v commented on #331
I used docker volume.
I found several references on the Internet to a similar problem. the general explanation if I understood correctly is that container doesn't have access to Linux block devices (like drives and mount points) where mount points are, but it doesn't explain the problem with the docker volumes

[2021-09-20 06:51] agatheLG123 commented on #331
I tried with different types of volumes but had the same problem each time... And I came to the same conclusion, so I asked to be given root priviledge just to test if it was changing anything. Indeed, for me, docker automatically had root priviledges but I wanting to test if in some case it might not be true. In my current case I copied pasted in my working directory the docker-compose file downl

[2021-09-20 08:44] agatheLG123 commented on #331
And sorry for the beginner question but how did you manage to "rewrite the function so that it does not use 'ls' command to determine the pid file exists" ? Did you created yourself a branch or did you created a new repository where you could access and change the code. Indeed in my code the only link to the kartoga/postgis repo code is in my docker-compose.yml file:
[code]
But I don't directly ha

[2021-09-20 10:16] agatheLG123 commented on #331
Okk tagging the version in the docker-compose.yml file solved my problem :
[code]

[2021-09-21 10:47] archer-v commented on #331
You can clone the repo, change scripts and build the container from sources
Look at the section "Building the image" in this repo readme.
or
as a quick temporary solution, you can just copy any file from your existent container to your local filesystem, change it, and copy it back:
**docker cp container_name:/file_path local_fs_path**
do some things and then
**docker cp local_fs_path container_nam

[2021-09-22 16:36] abhijitgujar86 opened #332 "Support for plv8 extension"
It will be great if we can add support for plv8 extension as its more secure runs in sandbox.

[2021-09-22 16:43] NyakudyaA commented on #332
@abhijitgujar86 we have no objection to this at all. Can you please try to make a PR and we will review it. Since this repo is mostly pro-bono work there is no guarantee that we will address this issue so soon unless you take initiative. We can give you pointers if you lost on where to make changes

[2021-10-09 12:59] mshzsh opened #336 "PROMOTE_MASTER does not work"
After down the Master server, it is not possible to use the `PROMOTE_MASTER` option on the Slave server

[2021-10-10 01:05] #330 closed, assigned to nobody

[2021-10-14 10:51] NyakudyaA commented on #322
Please check https://github.com/citusdata/pg_cron/

[2021-10-14 10:51] #322 closed, assigned to nobody

[2021-10-15 17:22] janfilips commented on #301
Well it's not anymore (and it did work for me perfectly)..  :-/

[2021-10-15 18:06] agusterodin commented on #301
My bad, see the above PR. There are official ARM64 builds on Docker Hub now! No need to use my stopgap image anymore.

[2021-10-15 18:06] #301 closed, assigned to nobody

[2021-10-15 18:17] agusterodin commented on #301
Use this one instead, for example: kartoza/postgis:14-3.1

[2021-10-15 18:18] janfilips commented on #301
Thank you very much big sir! :) :) :) 🥇

[2021-11-04 07:30] xqhmz opened #338 "how to use INITDB_EXTRA_ARGS set max_connections"

[2021-11-04 07:57] NyakudyaA commented on #338
@xqhmz max_connections is not part of the INITDB commands. You need https://github.com/kartoza/docker-postgis#additional-configuration

[2021-11-11 16:41] wlorenzetti opened #340 "Docker container not start"
Hi I've a problem on a CentOS Linux release 7.9.2009 (Core)
I'm using the docker tag image 11.0-2.5, I know is very old, but at the moment we use it inside our G3W-SUITE docker...

On Debian or Ubutnu host I haven't any problems but with this Centos my contaner doesn't start and very quickly go donw with the follow error:

postgis_1  | rm: cannot remove '/etc/ssl/certs': Directory not empty
postgi

[2021-11-14 11:33] NyakudyaA commented on #340
@wlorenzetti I believe these are related to some permission issues. Could you try to run the container with `--privileged` flag just to try it out. This is not recommended though.

Alternatively, check the following https://docs.datadoghq.com/security_monitoring/default_rules/cis-docker-1.2.0-5.12/

[2021-11-14 11:34] NyakudyaA commented on #338
Closing this as it's well documented

[2021-11-14 11:34] #338 closed, assigned to nobody

[2021-11-14 13:50] NyakudyaA commented on #323
They are both used. The POSTGRES_DB is used with the official Postgres image so it can be used here.  See https://github.com/kartoza/docker-postgis/blob/develop/scripts/env-data.sh#L279

[2021-11-14 13:50] #323 closed, assigned to nobody

[2021-11-14 13:58] #327 closed, assigned to nobody

[2021-11-14 13:59] NyakudyaA commented on #286
Closing as we have new images working. If you still have this issue please reopen

[2021-11-14 13:59] #286 closed, assigned to nobody

[2021-11-14 14:05] NyakudyaA commented on #326
This works well
![postgis13](https://user-images.githubusercontent.com/2510900/141684547-d35d96eb-98d6-438b-8d03-1cc05fa652f6.png)

[2021-11-14 14:05] #326 closed, assigned to nobody

[2021-11-15 07:22] wlorenzetti commented on #340
Thanks @NyakudyaA for reply :). I try with `--privileged` but it not work again.. It seems that try to mount `/etc/ssl` host directory.. but I don't set any volume options..

[2021-11-18 09:28] Doctor-Who opened #344 "Error file_fdw wget failed to download a remote csv"
Hello,

Using docker image : kartoza/postgis:13-3.1
When trying to use FDW from a remote CSV, I've got the following error :

OGR_FDW works with remote GeoJSON but I suppose it's not using wget ?
When attaching a shell, I can install a package such as nano so internet connection works inside the container.

I've also tested on our production server, same SQL code is working.

Best regards.

[2021-11-18 19:45] NyakudyaA commented on #344
I am not sure what you are trying to do with wget. Isn't the purpose of fdw to link remote data.

Maybe you need to ask on stack exchange or ogr_fwd GitHub page because this looks like it's not a problem with the image

[2021-11-19 09:14] Doctor-Who commented on #344
Dear @NyakudyaA perhaps my english was not clear.

The file_fdw postgres extension call wget to download some remote csv like this tutorial : https://blog.rustprooflabs.com/2020/03/postgresql-fdw-remote-file
And when I try to apply this method, I've got the error failed already mention.
I've also try with other extension : fdw_ogr with a distant GeoJson and it works.

But the file_fdw extension do

[2021-11-19 18:05] NyakudyaA commented on #344
I haven't tried file_fwd but I think I would try https://github.com/pramsey/pgsql-ogr-fdw
 Which combines well with https://gdal.org/user/virtual_file_systems.html

[2021-11-22 03:29] xqhmz opened #346 "how to add EXTENSIONS timescaledb"
POSTGRES_MULTIPLE_EXTENSIONS=timescaledb
SHARED_PRELOAD_LIBRARIES=timescaledb

what should   I add

[2021-11-22 05:18] NyakudyaA commented on #346
You are right there but I also assume you would need other extensions i.e

 ​      - ​POSTGRES_MULTIPLE_EXTENSIONS=postgis,hstore,postgis_topology,postgis_raster,pgrouting,timescaledb

You can even exclude SHARED_PRELOAD_LIBRARIES=timescaledb because by default it is set to load timescaledb and pgcron

[2021-11-22 05:43] xqhmz commented on #346
I use ​POSTGRES_MULTIPLE_EXTENSIONS=postgis,hstore,postgis_topology,postgis_raster,pgrouting,timescaledb only
but error
![image](https://user-images.githubusercontent.com/49462898/142806906-209cc543-95b8-49b2-b752-133feadd4a5a.png)

images: kartoza/postgis:11.5-2.8
version is too old ?

[2021-11-22 06:11] NyakudyaA commented on #346
@xqhmz Those changes have been applied to the 14 images. If you need them in images lower than 14 there you will need to backport them https://github.com/kartoza/docker-postgis/pull/343

[2021-11-22 07:00] xqhmz commented on #346
ok,thanks
Can I use Dockerfile build postgis:11.5-2.8?

[2021-11-27 19:06] abhijitgujar86 commented on #332
sure will give it try.

[2021-11-27 19:08] abhijitgujar86 opened #350 "How to remove password from logs ?"
when I was starting docker i saw a line which was prominent in fact the password was written in red color. is it possible to remove it ?

` [Entrypoint] GENERATED Postgres  PASSWORD: `

[2021-11-27 19:18] NyakudyaA commented on #350
When https://github.com/kartoza/docker-postgis/pull/339 is merged, the only time the password will be printed in red is when a user runs the container without specifying the env variable

[2021-12-01 10:29] ostenbom opened #351 "Struggling to build for arm due to timescaledb"
Hey there! 👋

I am struggling to build this image for the arm64 architecture. I think it has to do with `timescaledb-2-postgresql-13/14` not existing for arm on the Debian package registry.

Maybe installing timescale could be optionally enabled with env during build until support comes around, or do you have any other ideas on workarounds?

Here's the command I used to build `docker buildx build

[2021-12-01 11:27] NyakudyaA commented on #351
I think it makes sense to have it as a build arg if it gives issues and then we could have a separate GitHub workflow to build and tag this appropriately.  @lucernae what are your thoughts

[2021-12-18 20:02] tiqvahub opened #354 "Changing TimeZone"
I have tried to change postgresql server timezone permanently to 'America/Sao_Paulo' by setting the variables log_timezone = 'America/Sao_Paulo' and timezone = 'America/Sao_Paulo' in the file postgis_container:/etc/postgresql/13/main/postgresql.conf. After restarting the container and postgresql, I am still getting Etc/UTC for show timezone. Is there any another way to achieve this goal? Maybe dur

[2021-12-21 07:01] coderLinJ5945 opened #355 "failed to register layer: Error processing tar file(exit status 1): symlink .. /usr/lib/llvm-7/build/Debug+Asserts: permission denied"
Hello, I would like to ask you how to resolve an exception. After uploading it to my private library at port using your Kartoza/Postgis, the above exception occurred during the pull operation. However, one of the two identical machines can pull out the image and run properly. Want to ask you how to solve? Thank you for your consideration.

# docker info
Client:
 Debug Mode: false

Server:
 Contain

[2021-12-22 21:09] Alien2150 opened #357 "Missing support for PGPORT"
Hey, would it be possible to add support for the PGPORT env parameter as in Postgis? It's very useful when running 2 containers in parallel w/o port-remapping

[2022-01-10 11:06] t-book opened #358 "Running in production with rootles mode"
Hi,

does one have experience if this composition can be used if docker is running in rootless mode?

Thanks and best regards,

Toni

[2022-01-19 14:11] npltr62 opened #359 "gis doesn't exist"
[code]
I'm used docker-postgis and docker-backup, postgis start with variable POSTGRES_DBNAME : 'fd, restore' and docker backup use the fd database to save.
I don't understand why "pg_cron launcher" try to run on gis database whereas the target db is 'fd'

[2022-01-19 14:24] npltr62 opened #360 "logging events"
I don't understand how logging events and get them from volume?
thank's

[2022-01-19 19:28] NyakudyaA commented on #360
This is a generic question and is best answered by checking for similar solutions on gis.stackexchange.com

[2022-01-19 19:28] #360 closed, assigned to nobody

[2022-01-19 19:29] NyakudyaA commented on #359
Can you share your docker-compose that you have used

[2022-01-19 19:30] NyakudyaA commented on #357
What do you mean by this. If you can take the lead on submitting a PR with this suggestion

[2022-01-19 19:31] NyakudyaA commented on #358
Unfortunately this container still runs as root and you can comment on #245

[2022-01-19 19:50] NyakudyaA commented on #355
We cannot give a definite answer here with relation to private registries. I suggest you check out stack exchange.com or docker forums.

Looking at the error message it looks like some permission error. Can you differentiate the difference between the two machines

[2022-01-19 19:51] NyakudyaA commented on #354
https://kb.objectrocket.com/postgresql/postgresql-set-time-zone-1064

[2022-01-26 11:12] bjornharrtell opened #362 "Tags in git corresponding to image tags"
Fx 14-3.1 exist as image and was pushed about three months ago, but I can't find any tags for 14 the git repo. It would be useful to have those tags in git so one can know which exact source version was used.

[2022-01-26 11:52] NyakudyaA commented on #362
We building the images using workflows https://github.com/kartoza/docker-postgis/tree/develop/.github/workflows and the version specified in the Dockerfile in the develop branch will correspond to the most recent stable PostgreSQL version

[2022-01-26 12:31] bjornharrtell commented on #362
Ah, I see now, thanks for the explanation.

[2022-01-26 12:31] #362 closed, assigned to nobody

[2022-02-06 03:03] Audiopolis commented on #210
Still happening in the latest version with a named volume for /var/lib/postgresql:

`initdb: error: could not access directory "/var/lib/postgresql/13/main": Permission denied`

[2022-02-08 15:02] NyakudyaA opened #364 "enable running multiple files in chronological order in docker-entrypoint-initdb.d"
# Problem

https://github.com/kartoza/docker-postgis#running-sql-scripts-on-container-startup allows users to run scripts directly.
If you have SQL files that are referenced like `01-setup.sql`, `02-setup.sql` there is no way to run them in that order besides creating a bash script.

Reference
https://unix.stackexchange.com/questions/350960/iterating-through-folders-in-numerical-order

[2022-02-11 10:02] NyakudyaA opened #365 "timescale workflows and publishing images"
After disabling timescale we need to action the following

TODO

- [ ] Add github workflows to publish the image as i.e kartoza/postgis:14-3.2-timescale
- [ ] Add scenario test for running the image with timescale

[2022-02-11 10:03] #351 closed, assigned to nobody

[2022-02-11 12:13] NyakudyaA opened #366 "Workflow not publishing images"
# Problem

![push](https://user-images.githubusercontent.com/2510900/153589606-6c084f42-bfc0-4e22-ae31-9341678a56cc.png)

push internal pr images is being skipped

[2022-02-14 06:34] gitlsl commented on #354
docker run  -d  -p 5432:5432 -e TZ=Asia/Shanghai -e PGTZ=Asia/Shanghai  -e TIMEZONE=Asia/Shanghai
...
I  try above  comand can not change default timezone?....

[2022-02-14 07:48] #366 closed, assigned to dominicschaff

[2022-02-14 07:50] #346 closed, assigned to nobody

[2022-02-21 09:20] LiHanGod opened #368 "The pg_cron extension will not be used"
I'm running a Docker container, I want to use the pg_cron extension in this container, I did some research and it's not working, you know

This is his start order
[code]
Once inside the container
[code]

Is there documentation on how to use this extension?

[2022-02-21 09:25] NyakudyaA commented on #368
The error message above is clear. It tells you that pg_cron is already activated and it can be only activated against a single database in this case the database is called `gis`.

Just run the following
[code]

and inside your database you can schedule jobs against the gis database

[2022-02-21 09:27] LiHanGod commented on #368
Can I use the PG_cron extension for other databases?

[2022-02-21 09:35] NyakudyaA commented on #368
Just specify ` -e POSTGRES_DB=mydata` and the cron will be executed against the database `mydata`

Please checkout https://github.com/citusdata/pg_cron on usage of the extentions to get more info on the capabilities

[2022-02-21 09:41] LiHanGod commented on #368
`-e POSTGRES_DB=mydata` can specify multiple databases？
Or I create my own database and manually load the pg_cron extension

[2022-02-24 08:36] xqhmz commented on #354
how to change TimeZone ? it is not a way to  achieve this goal

[2022-02-26 04:21] NyakudyaA commented on #368
Please check the read me. All answers are provided

[2022-02-26 04:22] #368 closed, assigned to nobody

[2022-02-26 04:22] #359 closed, assigned to nobody